In [1]:
# import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [2]:
db_string = f"postgres://postgres:mTM36[TU@127.0.0.1:5432/beverly_grove_neighborhood"

In [3]:
engine = create_engine(db_string)

In [4]:
conn = psycopg2.connect(host="localhost", port = 5432, database="beverly_grove_neighborhood", user="postgres", password="mTM36[TU")

In [5]:
cur = conn.cursor()

In [6]:
cur.execute("""SELECT * FROM beverly_grove_neighborhood""")

In [7]:
query_results = cur.fetchall()

In [8]:
# Note that the code below works, but it returns a dataframe with no index and no column names
Beverly_Grove_Total_df = pd.DataFrame(query_results)

In [9]:
Beverly_Grove_Total_df.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,5085010022,Mark K Nishida Sherman Dale S,No,No,1030 S Dunsmuir Ave,Los Angeles,90019,1030 S Dunsmuir Ave,No,Los Angeles,...,2.0,0,1,0,0,YES,CENTRAL,CENTRAL,0,0
1,5085033008,B Erie & Fay Marshall,No,No,1364 S Ridgeley Dr,Los Angeles,90019,1942 E Woodgate Dr,Yes,West Covina,...,1.0,0,0,0,0,0,0,YES,0,0
2,5085032022,Neal S Co Scheindlin Scheindlin & Weisber,No,No,1322 Hauser Blvd,Los Angeles,90019,1322 Hauser Blvd,No,Los Angeles,...,1.0,0,0,0,0,0,0,YES,0,0
3,5510005006,Simi Dabah The Realty Trust,Yes,No,6727 Drexel Ave,Los Angeles,90048,2068 Orange Tree Ln #100,Yes,Redlands,...,5.0,0,1,0,0,YES,0,CENTRAL,0,0
4,5089024002,Frances Travassaros Veracka Virginia,No,No,942 S Cochran Ave,Los Angeles,90036,942 S Cochran Ave,No,Los Angeles,...,1.0,1,0,0,YES,YES,CENTRAL,CENTRAL,0,0

In [10]:
# change the index to to be the first column
Beverly_Grove_Total_df = Beverly_Grove_Total_df.rename(columns={0:'PARCEL'})
Beverly_Grove_Total_df.set_index('PARCEL', inplace=True)
Beverly_Grove_Total_df.head()

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
PARCEL,,,,,,,,,,,,,,,,,,,,,
5085010022,Mark K Nishida Sherman Dale S,No,No,1030 S Dunsmuir Ave,Los Angeles,90019,1030 S Dunsmuir Ave,No,Los Angeles,CA,...,2.0,0,1,0,0,YES,CENTRAL,CENTRAL,0,0
5085033008,B Erie & Fay Marshall,No,No,1364 S Ridgeley Dr,Los Angeles,90019,1942 E Woodgate Dr,Yes,West Covina,CA,...,1.0,0,0,0,0,0,0,YES,0,0
5085032022,Neal S Co Scheindlin Scheindlin & Weisber,No,No,1322 Hauser Blvd,Los Angeles,90019,1322 Hauser Blvd,No,Los Angeles,CA,...,1.0,0,0,0,0,0,0,YES,0,0
5510005006,Simi Dabah The Realty Trust,Yes,No,6727 Drexel Ave,Los Angeles,90048,2068 Orange Tree Ln #100,Yes,Redlands,CA,...,5.0,0,1,0,0,YES,0,CENTRAL,0,0
5089024002,Frances Travassaros Veracka Virginia,No,No,942 S Cochran Ave,Los Angeles,90036,942 S Cochran Ave,No,Los Angeles,CA,...,1.0,1,0,0,YES,YES,CENTRAL,CENTRAL,0,0

In [11]:
new_column_names = ['Composite Name',
'Owned by Trust?',
'Owned by Business?',
'SITEADDRESS',
'SITECITY',
'SITEZIP',
'MAILADDRESS',
'MAIL DIFFERENT FROM SITE?',
'MAILCITY',
'MAILSTATE',
'MAIL OUTSIDE CA?',
'TITLECO1',
'ASSDTOTAL',
'ASSDLAND',
'ASSDSTCT',
'ASSDOTHR',
'EXEMPTCD',
'EXMPTAMT',
'PCNTIMPD',
'TAXAMT',
'DOCDATE_YEAR',
'DEEDTYPE',
'MULTIPARCEL',
'PRICE',
'LENDER1',
'LOANAMOUT1',
'LOANTYPE1',
'YEARBLT',
'EFFYRBLT',
'LOTSQFT',
'TOTALSF',
'GRGTYPE',
'BLDGMAT',
'TOTUNITS',
'QUALCLAS',
'BLDGCOND',
'NOSTORY',
'ROOFMAT',
'FOUNDATN',
'BEDROOMS',
'BATHROOMS',
'FAMILYRM',
'DININGRM',
'POOL',
'PATIO',
'FIREPLCE',
'AIRMTHOD',
'HEATMTHD',
'WALLHGT',
'VIEW']

In [12]:
new_column_names[0]

'Composite Name'

In [13]:
Beverly_Grove_Total_df.columns = new_column_names

In [14]:
Beverly_Grove_Total_df.head()

,Composite Name,Owned by Trust?,Owned by Business?,SITEADDRESS,SITECITY,SITEZIP,MAILADDRESS,MAIL DIFFERENT FROM SITE?,MAILCITY,MAILSTATE,...,BATHROOMS,FAMILYRM,DININGRM,POOL,PATIO,FIREPLCE,AIRMTHOD,HEATMTHD,WALLHGT,VIEW
PARCEL,,,,,,,,,,,,,,,,,,,,,
5085010022,Mark K Nishida Sherman Dale S,No,No,1030 S Dunsmuir Ave,Los Angeles,90019,1030 S Dunsmuir Ave,No,Los Angeles,CA,...,2.0,0,1,0,0,YES,CENTRAL,CENTRAL,0,0
5085033008,B Erie & Fay Marshall,No,No,1364 S Ridgeley Dr,Los Angeles,90019,1942 E Woodgate Dr,Yes,West Covina,CA,...,1.0,0,0,0,0,0,0,YES,0,0
5085032022,Neal S Co Scheindlin Scheindlin & Weisber,No,No,1322 Hauser Blvd,Los Angeles,90019,1322 Hauser Blvd,No,Los Angeles,CA,...,1.0,0,0,0,0,0,0,YES,0,0
5510005006,Simi Dabah The Realty Trust,Yes,No,6727 Drexel Ave,Los Angeles,90048,2068 Orange Tree Ln #100,Yes,Redlands,CA,...,5.0,0,1,0,0,YES,0,CENTRAL,0,0
5089024002,Frances Travassaros Veracka Virginia,No,No,942 S Cochran Ave,Los Angeles,90036,942 S Cochran Ave,No,Los Angeles,CA,...,1.0,1,0,0,YES,YES,CENTRAL,CENTRAL,0,0

## Now import our second file, the sales one

In [15]:
conn = psycopg2.connect(host="localhost", port = 5432, database="beverly_grove_sales", user="postgres", password="mTM36[TU")

In [16]:
cur = conn.cursor()

In [17]:
cur.execute("""SELECT * FROM beverly_grove_sales""")

In [18]:
query_results2 = cur.fetchall()

In [19]:
Beverly_Grove_Sales_df = pd.DataFrame(query_results2)
Beverly_Grove_Sales_df.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,5089002004,Astrid Meghrigian,Astrid,Meghrigian,None,NaN,None,None,Los Angeles,CA,...,6100.0,NaN,N,None,5691.0,2036,Parking Lot,2151.021000,NaN,Lac2
1,5086013015,6000 Sv Holdings Llc,None,6000 Sv Holdings Llc,None,NaN,None,None,Los Angeles,CA,...,5000.0,20000000.0,N,None,9721.0,2036,Parking Lot,2169.003001,1970.0,Lac2
2,5512016010,Scott Strumwasser & Mahtash Rahbar,Scott,Strumwasser,5971 W 3Rd St,5971.0,None,3Rd St,Los Angeles,CA,...,9487.0,NaN,N,None,7372.0,2001,"Retail Stores ( Personal Services, Photography...",2140.002009,1929.0,Lac1
3,5511028030,Hart Third Street Llc,None,Hart Third Street Llc,8038 W 3Rd St,8038.0,None,3Rd St,Los Angeles,CA,...,2205.0,NaN,N,None,7555.0,2001,"Retail Stores ( Personal Services, Photography...",2146.002001,1946.0,Lac2
4,5511029032,Triple Heights Llc,None,Triple Heights Llc,8124 W 3Rd St,8124.0,None,3Rd St,Los Angeles,CA,...,6400.0,8700000.0,N,None,7555.0,3003,Office Bldg (General),2146.002002,1967.0,Lac2

In [20]:
# change the index to to be the first column

Beverly_Grove_Sales_df = Beverly_Grove_Sales_df.rename(columns={0:'PARCEL'})
Beverly_Grove_Sales_df.set_index('PARCEL', inplace=True)
Beverly_Grove_Sales_df.head()

,1,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,29,30,31,32,33
PARCEL,,,,,,,,,,,,,,,,,,,,,
5089002004,Astrid Meghrigian,Astrid,Meghrigian,None,NaN,None,None,Los Angeles,CA,90036,...,6100.0,NaN,N,None,5691.0,2036,Parking Lot,2151.021000,NaN,Lac2
5086013015,6000 Sv Holdings Llc,None,6000 Sv Holdings Llc,None,NaN,None,None,Los Angeles,CA,90036,...,5000.0,20000000.0,N,None,9721.0,2036,Parking Lot,2169.003001,1970.0,Lac2
5512016010,Scott Strumwasser & Mahtash Rahbar,Scott,Strumwasser,5971 W 3Rd St,5971.0,None,3Rd St,Los Angeles,CA,90036,...,9487.0,NaN,N,None,7372.0,2001,"Retail Stores ( Personal Services, Photography...",2140.002009,1929.0,Lac1
5511028030,Hart Third Street Llc,None,Hart Third Street Llc,8038 W 3Rd St,8038.0,None,3Rd St,Los Angeles,CA,90048,...,2205.0,NaN,N,None,7555.0,2001,"Retail Stores ( Personal Services, Photography...",2146.002001,1946.0,Lac2
5511029032,Triple Heights Llc,None,Triple Heights Llc,8124 W 3Rd St,8124.0,None,3Rd St,Los Angeles,CA,90048,...,6400.0,8700000.0,N,None,7555.0,3003,Office Bldg (General),2146.002002,1967.0,Lac2

The following are the column names that need to be mapped onto our sales dataframe

'Owner Name2',
'Owner1 First Name',
'Owner1 Last Name',
'Site Address',
'Site Address House Number',
'Site Address Unit Number',
'Site Address Street Name',
'Site Address City',
'Site Address State',
'Site Address Zip',
'Mail Address',
'Mail Address Unit Number',
'Mail Address City',
'Mail Address State',
'Mail Address Zip',
'Number of Units',
'Owner Occupied',
'Bathrooms',
'Pool',
'Bedrooms',
'Sale Date',
'Lot Area Acres',
'Lot Area SQFT',
'Building Area',
'Sales Price',
'Tax Delinquent',
'Tax Exemption Code',
'Tract',
'Use Code',
'Use Code Description',
'Census Tract',
'Year Built',
'Zoning'

In [21]:
column_names = ['Owner Name2', 'Owner1 First Name', 'Owner1 Last Name', 'Site Address', 'Site Address House Number', 'Site Address Unit Number', 'Site Address Street Name', 'Site Address City', 'Site Address State', 'Site Address Zip', 'Mail Address', 'Mail Address Unit Number', 'Mail Address City', 'Mail Address State', 'Mail Address Zip', 'Number of Units', 'Owner Occupied', 'Bathrooms', 'Pool', 'Bedrooms', 'Sale Date', 'Lot Area Acres', 'Lot Area SQFT', 'Building Area', 'Sales Price', 'Tax Delinquent', 'Tax Exemption Code', 'Tract', 'Use Code', 'Use Code Description', 'Census Tract', 'Year Built', 'Zoning']

In [22]:
Beverly_Grove_Sales_df.columns = column_names

In [23]:
Beverly_Grove_Sales_df.head()

,Owner Name2,Owner1 First Name,Owner1 Last Name,Site Address,Site Address House Number,Site Address Unit Number,Site Address Street Name,Site Address City,Site Address State,Site Address Zip,...,Building Area,Sales Price,Tax Delinquent,Tax Exemption Code,Tract,Use Code,Use Code Description,Census Tract,Year Built,Zoning
PARCEL,,,,,,,,,,,,,,,,,,,,,
5089002004,Astrid Meghrigian,Astrid,Meghrigian,None,NaN,None,None,Los Angeles,CA,90036,...,6100.0,NaN,N,None,5691.0,2036,Parking Lot,2151.021000,NaN,Lac2
5086013015,6000 Sv Holdings Llc,None,6000 Sv Holdings Llc,None,NaN,None,None,Los Angeles,CA,90036,...,5000.0,20000000.0,N,None,9721.0,2036,Parking Lot,2169.003001,1970.0,Lac2
5512016010,Scott Strumwasser & Mahtash Rahbar,Scott,Strumwasser,5971 W 3Rd St,5971.0,None,3Rd St,Los Angeles,CA,90036,...,9487.0,NaN,N,None,7372.0,2001,"Retail Stores ( Personal Services, Photography...",2140.002009,1929.0,Lac1
5511028030,Hart Third Street Llc,None,Hart Third Street Llc,8038 W 3Rd St,8038.0,None,3Rd St,Los Angeles,CA,90048,...,2205.0,NaN,N,None,7555.0,2001,"Retail Stores ( Personal Services, Photography...",2146.002001,1946.0,Lac2
5511029032,Triple Heights Llc,None,Triple Heights Llc,8124 W 3Rd St,8124.0,None,3Rd St,Los Angeles,CA,90048,...,6400.0,8700000.0,N,None,7555.0,3003,Office Bldg (General),2146.002002,1967.0,Lac2

In [24]:
# create a new column which will later be transformed into our output column after we've merged the two df's

Beverly_Grove_Sales_df['Did it sell?'] = 'yes'

# check the new column
Beverly_Grove_Sales_df.head()

,Owner Name2,Owner1 First Name,Owner1 Last Name,Site Address,Site Address House Number,Site Address Unit Number,Site Address Street Name,Site Address City,Site Address State,Site Address Zip,...,Sales Price,Tax Delinquent,Tax Exemption Code,Tract,Use Code,Use Code Description,Census Tract,Year Built,Zoning,Did it sell?
PARCEL,,,,,,,,,,,,,,,,,,,,,
5089002004,Astrid Meghrigian,Astrid,Meghrigian,None,NaN,None,None,Los Angeles,CA,90036,...,NaN,N,None,5691.0,2036,Parking Lot,2151.021000,NaN,Lac2,yes
5086013015,6000 Sv Holdings Llc,None,6000 Sv Holdings Llc,None,NaN,None,None,Los Angeles,CA,90036,...,20000000.0,N,None,9721.0,2036,Parking Lot,2169.003001,1970.0,Lac2,yes
5512016010,Scott Strumwasser & Mahtash Rahbar,Scott,Strumwasser,5971 W 3Rd St,5971.0,None,3Rd St,Los Angeles,CA,90036,...,NaN,N,None,7372.0,2001,"Retail Stores ( Personal Services, Photography...",2140.002009,1929.0,Lac1,yes
5511028030,Hart Third Street Llc,None,Hart Third Street Llc,8038 W 3Rd St,8038.0,None,3Rd St,Los Angeles,CA,90048,...,NaN,N,None,7555.0,2001,"Retail Stores ( Personal Services, Photography...",2146.002001,1946.0,Lac2,yes
5511029032,Triple Heights Llc,None,Triple Heights Llc,8124 W 3Rd St,8124.0,None,3Rd St,Los Angeles,CA,90048,...,8700000.0,N,None,7555.0,3003,Office Bldg (General),2146.002002,1967.0,Lac2,yes

In [25]:
# drop the useless columns, i.e only keep 'PARCEL' and 'Did it sell?'

Beverly_Grove_Sales_df = Beverly_Grove_Sales_df[['Did it sell?']]

In [26]:
# check to see if it worked.

Beverly_Grove_Sales_df.head()

           Did it sell?
PARCEL
5089002004          yes
5086013015          yes
5512016010          yes
5511028030          yes
5511029032          yes

# Merge our dataframes

In [27]:
Beverly_Grove_Total_df = Beverly_Grove_Total_df.merge(Beverly_Grove_Sales_df, how='left', left_index=True, right_index=True)
Beverly_Grove_Total_df.head()

,Composite Name,Owned by Trust?,Owned by Business?,SITEADDRESS,SITECITY,SITEZIP,MAILADDRESS,MAIL DIFFERENT FROM SITE?,MAILCITY,MAILSTATE,...,FAMILYRM,DININGRM,POOL,PATIO,FIREPLCE,AIRMTHOD,HEATMTHD,WALLHGT,VIEW,Did it sell?
PARCEL,,,,,,,,,,,,,,,,,,,,,
5085010022,Mark K Nishida Sherman Dale S,No,No,1030 S Dunsmuir Ave,Los Angeles,90019,1030 S Dunsmuir Ave,No,Los Angeles,CA,...,0,1,0,0,YES,CENTRAL,CENTRAL,0,0,NaN
5085033008,B Erie & Fay Marshall,No,No,1364 S Ridgeley Dr,Los Angeles,90019,1942 E Woodgate Dr,Yes,West Covina,CA,...,0,0,0,0,0,0,YES,0,0,NaN
5085032022,Neal S Co Scheindlin Scheindlin & Weisber,No,No,1322 Hauser Blvd,Los Angeles,90019,1322 Hauser Blvd,No,Los Angeles,CA,...,0,0,0,0,0,0,YES,0,0,NaN
5510005006,Simi Dabah The Realty Trust,Yes,No,6727 Drexel Ave,Los Angeles,90048,2068 Orange Tree Ln #100,Yes,Redlands,CA,...,0,1,0,0,YES,0,CENTRAL,0,0,NaN
5089024002,Frances Travassaros Veracka Virginia,No,No,942 S Cochran Ave,Los Angeles,90036,942 S Cochran Ave,No,Los Angeles,CA,...,1,0,0,YES,YES,CENTRAL,CENTRAL,0,0,NaN

In [28]:
# Fill in the NaN's in the 'Did it sell' column
Beverly_Grove_Total_df['Did it sell?'] = Beverly_Grove_Total_df['Did it sell?'].fillna('no')

In [29]:
# check the value counts
Beverly_Grove_Total_df['Did it sell?'].value_counts()

no     6228
yes     502
Name: Did it sell?, dtype: int64

# Drop the columns we don't need

In [30]:
# check columns
Beverly_Grove_Total_df.columns

Index(['Composite Name', 'Owned by Trust?', 'Owned by Business?',
       'SITEADDRESS', 'SITECITY', 'SITEZIP', 'MAILADDRESS',
       'MAIL DIFFERENT FROM SITE?', 'MAILCITY', 'MAILSTATE',
       'MAIL OUTSIDE CA?', 'TITLECO1', 'ASSDTOTAL', 'ASSDLAND', 'ASSDSTCT',
       'ASSDOTHR', 'EXEMPTCD', 'EXMPTAMT', 'PCNTIMPD', 'TAXAMT',
       'DOCDATE_YEAR', 'DEEDTYPE', 'MULTIPARCEL', 'PRICE', 'LENDER1',
       'LOANAMOUT1', 'LOANTYPE1', 'YEARBLT', 'EFFYRBLT', 'LOTSQFT', 'TOTALSF',
       'GRGTYPE', 'BLDGMAT', 'TOTUNITS', 'QUALCLAS', 'BLDGCOND', 'NOSTORY',
       'ROOFMAT', 'FOUNDATN', 'BEDROOMS', 'BATHROOMS', 'FAMILYRM', 'DININGRM',
       'POOL', 'PATIO', 'FIREPLCE', 'AIRMTHOD', 'HEATMTHD', 'WALLHGT', 'VIEW',
       'Did it sell?'],
      dtype='object')

In [31]:
# drop 'Composite Name', 'SITEADDRESS', 'SITECITY', 'SITEZIP', 'MAILADDRESS','WALLHGT'
Beverly_Grove_Total_df.drop(['Composite Name', 'SITEADDRESS', 'SITECITY', 'SITEZIP',
                             'MAILADDRESS', 'WALLHGT', 'MAILCITY', 'MAILSTATE'],
                              axis=1, inplace=True)

Beverly_Grove_Total_df.head()

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,BATHROOMS,FAMILYRM,DININGRM,POOL,PATIO,FIREPLCE,AIRMTHOD,HEATMTHD,VIEW,Did it sell?
PARCEL,,,,,,,,,,,,,,,,,,,,,
5085010022,No,No,No,No,FIRST AMERICAN TITLE,1157385,925908,231477,0,0,...,2.0,0,1,0,0,YES,CENTRAL,CENTRAL,0,no
5085033008,No,No,Yes,No,0,57047,40994,16053,0,0,...,1.0,0,0,0,0,0,0,YES,0,no
5085032022,No,No,No,No,ATTORNEY ONLY,651485,521193,130292,0,HOMEOWNERS,...,1.0,0,0,0,0,0,0,YES,0,no
5510005006,Yes,No,Yes,No,0,85697,74539,11158,0,0,...,5.0,0,1,0,0,YES,0,CENTRAL,0,no
5089024002,No,No,No,No,0,62487,42013,20474,0,HOMEOWNERS,...,1.0,1,0,0,YES,YES,CENTRAL,CENTRAL,0,no

# Encode Column Values

In [32]:
# Determine the number of unique values in each column.

Beverly_Grove_Total_df.apply(lambda x: len(x.unique()))

Owned by Trust?                 2
Owned by Business?              2
MAIL DIFFERENT FROM SITE?       2
MAIL OUTSIDE CA?                2
TITLECO1                      119
ASSDTOTAL                    6137
ASSDLAND                     5124
ASSDSTCT                     5603
ASSDOTHR                        5
EXEMPTCD                        2
EXMPTAMT                       14
PCNTIMPD                       94
TAXAMT                       6671
DOCDATE_YEAR                   58
DEEDTYPE                       23
MULTIPARCEL                     3
PRICE                        1172
LENDER1                       504
LOANAMOUT1                   1394
LOANTYPE1                      11
YEARBLT                        98
EFFYRBLT                       99
LOTSQFT                      1757
TOTALSF                      2186
GRGTYPE                         7
BLDGMAT                         9
TOTUNITS                       34
QUALCLAS                        6
BLDGCOND                        6
NOSTORY                         7
ROOFMAT                        13
FOUNDATN                        6
BEDROOMS                       11
BATHROOMS                      11
FAMILYRM                        3
DININGRM                        3
POOL                            4
PATIO                           5
FIREPLCE                        2
AIRMTHOD                        6
HEATMTHD                        6
VIEW                            5
Did it sell?                    2
dtype: int64

In [33]:
# Convert binary value counts to 0's and 1's, since most of them are 'Yes' or 'No' right now.
# Step 1: 'Owned by Trust?'

Beverly_Grove_Total_df['Owned by Trust?'].replace({"Yes": 1, "No": 0}, inplace=True)

In [34]:
# Step 2: 'Owned by Business?'
Beverly_Grove_Total_df['Owned by Business?'].replace({"Yes": 1, "No": 0}, inplace=True)

# Step 3: 'MAIL DIFFERENT FROM SITE?'
Beverly_Grove_Total_df['MAIL DIFFERENT FROM SITE?'].replace({"Yes": 1, "No": 0}, inplace=True)

# Step 4: 'MAIL OUTSIDE CA'
Beverly_Grove_Total_df['MAIL OUTSIDE CA?'].replace({"Yes": 1, "No": 0}, inplace=True)

# Step 5: 'EXEMPTCD'
Beverly_Grove_Total_df['EXEMPTCD'].replace({"HOMEOWNERS": 1}, inplace=True)

# Step 6: 'Did it sell?'
Beverly_Grove_Total_df['Did it sell?'].replace({"yes": 1, "no": 0}, inplace=True)

In [35]:
Beverly_Grove_Total_df.head()

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,BATHROOMS,FAMILYRM,DININGRM,POOL,PATIO,FIREPLCE,AIRMTHOD,HEATMTHD,VIEW,Did it sell?
PARCEL,,,,,,,,,,,,,,,,,,,,,
5085010022,0,0,0,0,FIRST AMERICAN TITLE,1157385,925908,231477,0,0,...,2.0,0,1,0,0,YES,CENTRAL,CENTRAL,0,0
5085033008,0,0,1,0,0,57047,40994,16053,0,0,...,1.0,0,0,0,0,0,0,YES,0,0
5085032022,0,0,0,0,ATTORNEY ONLY,651485,521193,130292,0,1,...,1.0,0,0,0,0,0,0,YES,0,0
5510005006,1,0,1,0,0,85697,74539,11158,0,0,...,5.0,0,1,0,0,YES,0,CENTRAL,0,0
5089024002,0,0,0,0,0,62487,42013,20474,0,1,...,1.0,1,0,0,YES,YES,CENTRAL,CENTRAL,0,0

In [36]:
Beverly_Grove_Total_df['Owned by Trust?'].value_counts()

0    5033
1    1697
Name: Owned by Trust?, dtype: int64

In [37]:
Beverly_Grove_Total_df['Owned by Trust?'].dtypes

dtype('int64')

In [38]:
Beverly_Grove_Total_df['FAMILYRM'].value_counts()

0    6443
1     284
2       3
Name: FAMILYRM, dtype: int64

# Now encode the categorical data

In [39]:
Beverly_Grove_Total_df.columns

Index(['Owned by Trust?', 'Owned by Business?', 'MAIL DIFFERENT FROM SITE?',
       'MAIL OUTSIDE CA?', 'TITLECO1', 'ASSDTOTAL', 'ASSDLAND', 'ASSDSTCT',
       'ASSDOTHR', 'EXEMPTCD', 'EXMPTAMT', 'PCNTIMPD', 'TAXAMT',
       'DOCDATE_YEAR', 'DEEDTYPE', 'MULTIPARCEL', 'PRICE', 'LENDER1',
       'LOANAMOUT1', 'LOANTYPE1', 'YEARBLT', 'EFFYRBLT', 'LOTSQFT', 'TOTALSF',
       'GRGTYPE', 'BLDGMAT', 'TOTUNITS', 'QUALCLAS', 'BLDGCOND', 'NOSTORY',
       'ROOFMAT', 'FOUNDATN', 'BEDROOMS', 'BATHROOMS', 'FAMILYRM', 'DININGRM',
       'POOL', 'PATIO', 'FIREPLCE', 'AIRMTHOD', 'HEATMTHD', 'VIEW',
       'Did it sell?'],
      dtype='object')

In [40]:
# Those columns will be the following: 
# TITLECO1
# DEEDTYPE
# MULTIPARCEL
# LENDER1
# LOANTYPE1
# GRGTYPE
# BLDGMAT
# QUALCLAS
# BLDGCOND
# POOL
# PATIO
# FIREPLCE
# AIRMTHOD
# HEATMTHD
# VIEW

In [41]:
Encoded_List = [
    'TITLECO1',
    'MULTIPARCEL',
    'LENDER1',
    'LOANTYPE1',
    'GRGTYPE',
    'BLDGMAT',
    'QUALCLAS',
    'BLDGCOND',
    'POOL',
    'PATIO',
    'FIREPLCE',
    'AIRMTHOD',
    'HEATMTHD',
    'VIEW',
    'ROOFMAT',
    'FOUNDATN',
]

In [42]:
for col in Beverly_Grove_Total_df:
    if col in Encoded_List:
        Beverly_Grove_Total_df[col] = Beverly_Grove_Total_df[col].transform(lambda x: x != '0')
        Beverly_Grove_Total_df[col] = Beverly_Grove_Total_df[col].astype(int)

In [43]:
Beverly_Grove_Total_df.head()

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,BATHROOMS,FAMILYRM,DININGRM,POOL,PATIO,FIREPLCE,AIRMTHOD,HEATMTHD,VIEW,Did it sell?
PARCEL,,,,,,,,,,,,,,,,,,,,,
5085010022,0,0,0,0,1,1157385,925908,231477,0,0,...,2.0,0,1,0,0,1,1,1,0,0
5085033008,0,0,1,0,0,57047,40994,16053,0,0,...,1.0,0,0,0,0,0,0,1,0,0
5085032022,0,0,0,0,1,651485,521193,130292,0,1,...,1.0,0,0,0,0,0,0,1,0,0
5510005006,1,0,1,0,0,85697,74539,11158,0,0,...,5.0,0,1,0,0,1,0,1,0,0
5089024002,0,0,0,0,0,62487,42013,20474,0,1,...,1.0,1,0,0,1,1,1,1,0,0

## Now encode 'Deedtype' but to into individual values for 9 largest, plus 'Other' and '0' values.

In [44]:
Deedtype_Series = Beverly_Grove_Total_df.groupby('DEEDTYPE').count()['ASSDTOTAL'].tail(-10).index
Deedtype_Series

Index(['GRANT DEED', 'IN LIEU OF FORC', 'INTERSPOUSAL', 'JOINT TENANT',
       'NAME CHANGE', 'PARTNERSHIP', 'PERSONAL REP', 'QUIT CLAIM', 'RE-RECORD',
       'TAX DEED', 'TRUST TRANSFER', 'TRUSTEES', 'WARRANTY'],
      dtype='object', name='DEEDTYPE')

In [45]:
Beverly_Grove_Total_df = pd.get_dummies(Beverly_Grove_Total_df, columns=['DEEDTYPE'], prefix="", prefix_sep="")

In [46]:
Beverly_Grove_Total_df.sample(5)

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,JOINT TENANT,NAME CHANGE,PARTNERSHIP,PERSONAL REP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5510019024,0,0,1,0,1,773709,583656,190053,0,0,...,0,0,0,0,0,0,0,0,0,0
5085030006,0,0,0,0,1,679063,543251,135812,0,0,...,0,0,0,0,0,0,0,0,0,0
5087020026,0,0,1,0,1,873591,660668,212923,0,1,...,0,0,0,0,0,0,0,0,0,0
5089011114,0,0,0,0,1,578692,370972,207720,0,1,...,0,0,0,0,0,0,0,0,0,0
4334015068,0,0,1,0,1,492418,281640,210778,0,1,...,0,0,0,0,0,0,0,0,0,0

In [47]:
Beverly_Grove_Total_df['QUIT CLAIM'].value_counts()

0    5753
1     977
Name: QUIT CLAIM, dtype: int64

In [48]:
Beverly_Grove_Total_df['Did it sell?'].value_counts()

0    6228
1     502
Name: Did it sell?, dtype: int64

In [49]:
# drop any NaN's
Beverly_Grove_Total_df = Beverly_Grove_Total_df.dropna()
Beverly_Grove_Total_df

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,JOINT TENANT,NAME CHANGE,PARTNERSHIP,PERSONAL REP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5085010022,0,0,0,0,1,1157385,925908,231477,0,0,...,0,0,0,0,0,0,0,0,0,0
5085033008,0,0,1,0,0,57047,40994,16053,0,0,...,0,0,0,0,0,0,0,0,0,0
5085032022,0,0,0,0,1,651485,521193,130292,0,1,...,0,0,0,0,0,0,0,0,0,0
5510005006,1,0,1,0,0,85697,74539,11158,0,0,...,0,0,0,0,0,0,0,0,0,0
5089024002,0,0,0,0,0,62487,42013,20474,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4335003015,0,1,1,0,0,1177690,1177690,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4335010018,0,1,1,0,1,1346195,1346195,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5510018012,1,0,0,0,0,762455,509154,253301,0,0,...,0,0,0,0,0,0,0,0,0,0
5510017023,0,1,1,1,1,1553301,1087311,465990,0,0,...,0,0,0,0,0,0,0,0,0,0
5514001029,0,1,1,0,0,23541,17658,5883,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
Beverly_Grove_Total_df['EXEMPTCD'] = Beverly_Grove_Total_df['EXEMPTCD'].astype(int)

In [51]:
Beverly_Grove_Total_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6725 entries, 5085010022 to 5514001029
Data columns (total 65 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Owned by Trust?            6725 non-null   int64
 1   Owned by Business?         6725 non-null   int64
 2   MAIL DIFFERENT FROM SITE?  6725 non-null   int64
 3   MAIL OUTSIDE CA?           6725 non-null   int64
 4   TITLECO1                   6725 non-null   int64
 5   ASSDTOTAL                  6725 non-null   int64
 6   ASSDLAND                   6725 non-null   int64
 7   ASSDSTCT                   6725 non-null   int64
 8   ASSDOTHR                   6725 non-null   int64
 9   EXEMPTCD                   6725 non-null   int64
 10  EXMPTAMT                   6725 non-null   int64
 11  PCNTIMPD                   6725 non-null   int64
 12  TAXAMT                     6725 non-null   float64
 13  DOCDATE_YEAR               6725 non-null   int64
 14  MULTIPARCEL                6725 non-null   int64
 15  PRICE                      6725 non-null   int64
 16  LENDER1                    6725 non-null   int64
 17  LOANAMOUT1                 6725 non-null   int64
 18  LOANTYPE1                  6725 non-null   int64
 19  YEARBLT                    6725 non-null   int64
 20  EFFYRBLT                   6725 non-null   float64
 21  LOTSQFT                    6725 non-null   int64
 22  TOTALSF                    6725 non-null   int64
 23  GRGTYPE                    6725 non-null   int64
 24  BLDGMAT                    6725 non-null   int64
 25  TOTUNITS                   6725 non-null   int64
 26  QUALCLAS                   6725 non-null   int64
 27  BLDGCOND                   6725 non-null   int64
 28  NOSTORY                    6725 non-null   float64
 29  ROOFMAT                    6725 non-null   int64
 30  FOUNDATN                   6725 non-null   int64
 31  BEDROOMS                   6725 non-null   float64
 32  BATHROOMS                  6725 non-null   float64
 33  FAMILYRM                   6725 non-null   int64
 34  DININGRM                   6725 non-null   int64
 35  POOL                       6725 non-null   int64
 36  PATIO                      6725 non-null   int64
 37  FIREPLCE                   6725 non-null   int64
 38  AIRMTHOD                   6725 non-null   int64
 39  HEATMTHD                   6725 non-null   int64
 40  VIEW                       6725 non-null   int64
 41  Did it sell?               6725 non-null   int64
 42  0                          6725 non-null   uint8
 43  AFF DEATH (MISC)           6725 non-null   uint8
 44  AFF DEATH OF JT            6725 non-null   uint8
 45  CONDO DEED                 6725 non-null   uint8
 46  CORPORATION                6725 non-null   uint8
 47  CORRECTION                 6725 non-null   uint8
 48  DEED                       6725 non-null   uint8
 49  EXECUTORS                  6725 non-null   uint8
 50  FINAL DIST                 6725 non-null   uint8
 51  GIFT                       6725 non-null   uint8
 52  GRANT DEED                 6725 non-null   uint8
 53  IN LIEU OF FORC            6725 non-null   uint8
 54  INTERSPOUSAL               6725 non-null   uint8
 55  JOINT TENANT               6725 non-null   uint8
 56  NAME CHANGE                6725 non-null   uint8
 57  PARTNERSHIP                6725 non-null   uint8
 58  PERSONAL REP               6725 non-null   uint8
 59  QUIT CLAIM                 6725 non-null   uint8
 60  RE-RECORD                  6725 non-null   uint8
 61  TAX DEED                   6725 non-null   uint8
 62  TRUST TRANSFER             6725 non-null   uint8
 63  TRUSTEES                   6725 non-null   uint8
 64  WARRANTY                   6725 non-null   uint8
dtypes: float64(5), int64(37), uint8(23)
memory usage: 2.4 MB

## Create our X and y values

In [52]:
y = Beverly_Grove_Total_df['Did it sell?'].values
X = Beverly_Grove_Total_df.drop(['Did it sell?'], 1).values

## Split our data into a training and testing dataset

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [54]:
X_train

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

## Scale our data

In [55]:
# Create the StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [56]:
# check out scaled data
X_train_scaled[:2]

array([[-0.57834248, -0.18904045, -0.60981276, -0.16584967,  0.71405899,
        -0.26840038, -0.32350111, -0.08468418, -0.01734726,  1.02795351,
         0.12365501,  0.06222595, -0.26364549,  0.13920583, -0.07735917,
        -0.60271235, -0.83716377, -0.6075342 , -0.80969989, -0.13212524,
        -0.12839611, -0.30503735,  0.88207909,  0.82014439,  0.7042693 ,
        -0.36298917,  1.55904209,  1.56129043,  1.88274264,  0.71121209,
         0.80869334,  1.1174275 ,  0.67174941, -0.2146244 ,  0.84955821,
        -0.44353715,  2.14408823,  0.80033337, -0.91826018,  0.06768806,
        -0.15276138, -0.38057248, -0.14004216, -0.0281746 , -0.01408311,
        -0.04883863, -0.04883863, -0.05641642, -0.03150329, -0.01408311,
        -0.04228289,  0.81272397, -0.01408311, -0.13403462, -0.0281746 ,
        -0.0199185 , -0.01408311, -0.0199185 , -0.41600902, -0.03986073,
        -0.01408311, -0.27183207, -0.03986073, -0.0281746 ],
       [-0.57834248, -0.18904045,  1.63984762, -0.16584967,  0.71405899,
        -0.41306849, -0.36469454, -0.39912611, -0.01734726, -0.97280664,
        -0.17330643, -0.34260969, -0.43051792,  0.18725088, -0.07735917,
         0.48476822,  1.19450942, -0.11092233,  1.23502548,  0.33486797,
         0.28857746, -0.1374206 , -0.53740875, -1.2192975 ,  0.7042693 ,
        -0.10947612,  1.55904209,  1.56129043,  0.33410928,  0.71121209,
        -1.23656268, -0.75846693, -0.30988846, -0.2146244 , -1.17516865,
        -0.44353715, -0.46639872,  0.80033337,  1.08901597,  0.06768806,
        -0.15276138, -0.38057248, -0.14004216, -0.0281746 , -0.01408311,
        -0.04883863, -0.04883863, -0.05641642, -0.03150329, -0.01408311,
        -0.04228289,  0.81272397, -0.01408311, -0.13403462, -0.0281746 ,
        -0.0199185 , -0.01408311, -0.0199185 , -0.41600902, -0.03986073,
        -0.01408311, -0.27183207, -0.03986073, -0.0281746 ]])

In [57]:
X_train.shape

(5043, 64)

In [58]:
# check to see that the mean is approximately 0
print(np.mean(X_train_scaled[:,0]))

-8.453810062582989e-18

In [59]:
# check to see that the standard deviation is approximately 1
print(np.std(X_train_scaled[:,0]))

1.000000000000038

## Create a learning model

In [60]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(5043, 64)
(1682, 64)
(5043,)
(1682,)

In [61]:
X_train_scaled

array([[-0.57834248, -0.18904045, -0.60981276, ..., -0.27183207,
        -0.03986073, -0.0281746 ],
       [-0.57834248, -0.18904045,  1.63984762, ..., -0.27183207,
        -0.03986073, -0.0281746 ],
       [-0.57834248, -0.18904045,  1.63984762, ..., -0.27183207,
        -0.03986073, -0.0281746 ],
       ...,
       [-0.57834248, -0.18904045, -0.60981276, ..., -0.27183207,
        -0.03986073, -0.0281746 ],
       [-0.57834248, -0.18904045,  1.63984762, ..., -0.27183207,
        -0.03986073, -0.0281746 ],
       [-0.57834248, -0.18904045, -0.60981276, ..., -0.27183207,
        -0.03986073, -0.0281746 ]])

In [62]:
np.isnan(X_train_scaled)

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [63]:
y_train

array([0, 0, 0, ..., 0, 0, 0])

In [64]:
pd.isna(X_train_scaled[1])

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [65]:
X_train_scaled.dtype

dtype('float64')

In [66]:
print(np.isnan(X_train_scaled))

[[False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]
 ...
 [False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]]

In [82]:
X_train_scaled.max()

71.00704190430687

In [68]:
y_train.min()

0

In [69]:
type(X_train_scaled)

numpy.ndarray

In [70]:
X_train_scaled.sort(axis=1, kind=None, order=None)

X_train_scaled

array([[-0.91826018, -0.83716377, -0.80969989, ...,  1.56129043,
         1.88274264,  2.14408823],
       [-1.23656268, -1.2192975 , -1.17516865, ...,  1.55904209,
         1.56129043,  1.63984762],
       [-1.41991138, -1.40605034, -1.24947932, ...,  1.63984762,
         2.15101528,  4.86141623],
       ...,
       [-1.40044452, -1.23043006, -0.91826018, ...,  1.56129043,
         2.25460258,  2.62762035],
       [-1.41991138, -1.40605034, -1.40044452, ...,  0.81272397,
         1.08901597,  1.63984762],
       [-1.40044452, -1.23043006, -0.97280664, ...,  4.12739334,
         4.21861377,  4.24800141]])

## Create a Logistic Regression Model

In [76]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=300,
                                random_state=78)

 ## Fit (train) or model using the training data

In [77]:
classifier.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=300, random_state=78)

# Make predictions

In [78]:
y_pred = classifier.predict(X_test_scaled)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.sample(20)

      Prediction  Actual
1623           0       0
151            1       1
1003           0       0
1017           0       1
1416           0       0
120            0       0
1140           0       0
1076           0       0
222            0       0
1067           0       1
195            0       0
513            0       1
828            0       0
1425           1       0
1614           0       0
465            0       0
1576           0       0
379            0       0
1451           0       0
563            0       0

## Evaluate Accuracy

In [79]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8769322235434007

In [80]:
results['Prediction'].value_counts()

0    1577
1     105
Name: Prediction, dtype: int64