In [125]:
# import our dependencies

%matplotlib inline
from collections import Counter
import pandas as pd
from imblearn.over_sampling import RandomOverSampler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import numpy as np
import os

## PCA + Oversampling (Random Oversampling) + Logistic Regression (SFRs)

In [126]:
file = 'Hollywood_Hills_East_Cleaned.csv'

location = '/Users/Admin/Desktop/GW_Bootcamp/Analysis_Projects/Final_Project_Team_1/'

In [127]:
path = os.path.join(location, file)

In [128]:
# bring in our dataframe

Hollywood_Hills_East_df = pd.read_csv(path, index_col='PARCEL')
Hollywood_Hills_East_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5586017003,1,0,2251 Hollyridge Dr,0,0,1,1214294,871974,342320,0,...,0,0,0,0,0,0,0,0,0,0
5579035002,0,0,3209 Tareco Dr,0,0,1,641575,485483,156092,0,...,0,0,0,0,0,0,0,1,0,0
5585001002,1,0,2780 Creston Dr,0,0,1,2867782,1837599,1030183,0,...,0,0,0,0,0,0,0,0,0,0
5577038025,0,0,6352 Innsdale Dr,0,0,0,1204724,890187,314537,0,...,0,0,0,0,0,0,0,0,0,0
5577036009,0,0,6324 Tahoe Dr,0,0,1,1125742,909097,216645,0,...,0,0,0,0,0,0,0,0,0,0

In [129]:
# drop any nulls

Hollywood_Hills_East_df = Hollywood_Hills_East_df.dropna()

In [130]:
len(Hollywood_Hills_East_df)

4017

In [131]:
# Change the datatype of these two columns into ints

Hollywood_Hills_East_df['TAXAMT'] = Hollywood_Hills_East_df['TAXAMT'].astype(int)
Hollywood_Hills_East_df['EFFYRBLT'] = Hollywood_Hills_East_df['EFFYRBLT'].astype(int)

In [132]:
# Make sure our dataframe is only SFR's so exclude every property that has an '#' in its site address

Hollywood_Hills_East_df = Hollywood_Hills_East_df[~Hollywood_Hills_East_df['SITEADDRESS'].str.contains('#')]
Hollywood_Hills_East_df.head(3)

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5586017003,1,0,2251 Hollyridge Dr,0,0,1,1214294,871974,342320,0,...,0,0,0,0,0,0,0,0,0,0
5579035002,0,0,3209 Tareco Dr,0,0,1,641575,485483,156092,0,...,0,0,0,0,0,0,0,1,0,0
5585001002,1,0,2780 Creston Dr,0,0,1,2867782,1837599,1030183,0,...,0,0,0,0,0,0,0,0,0,0

In [133]:
len(Hollywood_Hills_East_df)

3500

In [134]:
# Now drop the SiteAddress column
Hollywood_Hills_East_df.drop(['SITEADDRESS'], axis=1, inplace=True)

In [135]:
Hollywood_Hills_East_df.head(3)

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5586017003,1,0,0,0,1,1214294,871974,342320,0,1,...,0,0,0,0,0,0,0,0,0,0
5579035002,0,0,0,0,1,641575,485483,156092,0,1,...,0,0,0,0,0,0,0,1,0,0
5585001002,1,0,0,0,1,2867782,1837599,1030183,0,0,...,0,0,0,0,0,0,0,0,0,0

In [136]:
Hollywood_Hills_East_df.columns

Index(['Owned by Trust?', 'Owned by Business?', 'MAIL DIFFERENT FROM SITE?',
       'MAIL OUTSIDE CA?', 'TITLECO1', 'ASSDTOTAL', 'ASSDLAND', 'ASSDSTCT',
       'ASSDOTHR', 'EXEMPTCD', 'EXMPTAMT', 'PCNTIMPD', 'TAXAMT',
       'DOCDATE_YEAR', 'MULTIPARCEL', 'PRICE', 'LENDER1', 'LOANAMOUT1',
       'LOANTYPE1', 'YEARBLT', 'EFFYRBLT', 'LOTSQFT', 'TOTALSF', 'GRGTYPE',
       'BLDGMAT', 'TOTUNITS', 'QUALCLAS', 'BLDGCOND', 'NOSTORY', 'ROOFMAT',
       'FOUNDATN', 'BEDROOMS', 'BATHROOMS', 'FAMILYRM', 'DININGRM', 'POOL',
       'PATIO', 'FIREPLCE', 'AIRMTHOD', 'HEATMTHD', 'VIEW', 'Did it sell?',
       'GRANT DEED', 'INTERSPOUSAL', 'JOINT TENANT', 'Other', 'PARTNERSHIP',
       'QUIT CLAIM', 'RE-RECORD', 'TAX DEED', 'TRUST TRANSFER', 'TRUSTEES',
       'WARRANTY'],
      dtype='object')

In [137]:
# Step 1: Create our X and y

y = Hollywood_Hills_East_df['Did it sell?']
#X = Hollywood_Hills_East_df(['Did it sell?'], 1)
X = Hollywood_Hills_East_df[['Owned by Trust?', 'Owned by Business?', 'MAIL DIFFERENT FROM SITE?',
       'MAIL OUTSIDE CA?', 'TITLECO1', 'ASSDTOTAL', 'ASSDLAND', 'ASSDSTCT',
       'ASSDOTHR', 'EXEMPTCD', 'EXMPTAMT', 'PCNTIMPD', 'TAXAMT',
       'DOCDATE_YEAR', 'MULTIPARCEL', 'PRICE', 'LENDER1', 'LOANAMOUT1',
       'LOANTYPE1', 'YEARBLT', 'EFFYRBLT', 'LOTSQFT', 'TOTALSF', 'GRGTYPE',
       'BLDGMAT', 'TOTUNITS', 'QUALCLAS', 'BLDGCOND', 'NOSTORY', 'ROOFMAT',
       'FOUNDATN', 'BEDROOMS', 'BATHROOMS', 'FAMILYRM', 'DININGRM', 'POOL',
       'PATIO', 'FIREPLCE', 'AIRMTHOD', 'HEATMTHD', 'VIEW',
       'GRANT DEED', 'INTERSPOUSAL', 'JOINT TENANT', 'Other', 'PARTNERSHIP',
       'QUIT CLAIM', 'RE-RECORD', 'TAX DEED', 'TRUST TRANSFER', 'TRUSTEES',
       'WARRANTY']]

In [138]:
APN = Hollywood_Hills_East_df.index.values
APN

array([5586017003, 5579035002, 5585001002, ..., 2428006041, 2427008043,
       5585017033])

In [139]:
# Step 2: Use PCA to reduce dimension to three principal components.
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
X_pca = pca.fit_transform(X)

In [140]:
X_pca

array([[  -22213.1219468 ,  -727047.1717739 ,    60768.16195909],
       [ -549842.57195944,  -243774.2651712 ,    71050.5433429 ],
       [ 1802811.29776477, -1712399.79249876,  -946820.32537219],
       ...,
       [ -499566.82568289,  -286604.0866326 ,    71826.58812759],
       [  141761.63488336,  -872511.49716167,    60146.76081435],
       [ -280920.08346389,  -484502.95902273,    68847.94810218]])

In [141]:
# Step 3: Train, test, split

X_train, X_test, y_train, y_test = train_test_split(X_pca, y, random_state=78, stratify=y)

In [142]:
# Step 4: Scale our data

# Create the StandardScaler instance
scaler = StandardScaler()

# Fit our scaler, named 'scaler' to our data, which produces a new StandardScaler object
# which we call 'X_scaler'
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [143]:
X_train_scaled_APN = []

In [144]:
# implement random oversampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_random_oversampled, y_random_oversampled = ros.fit_resample(X_train_scaled, y_train)

Counter(y_random_oversampled)

Counter({0: 2322, 1: 2322})

In [145]:
# Logistic regression using random oversampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', 
                                max_iter=300,
                                random_state=78,
                                class_weight="balanced")

model.fit(X_random_oversampled, y_random_oversampled)

LogisticRegression(class_weight='balanced', max_iter=300, random_state=78)

In [146]:
# Evaluate the model
y_pred = model.predict(X_test_scaled)

In [147]:
print(f" Logistic regression model accuracy: {accuracy_score(y_test, y_pred):.3f}")

 Logistic regression model accuracy: 0.632

In [148]:
# just for shits n' gigs, lets find the balanced accuracy score

from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5466331516872618

In [149]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average="weighted")

0.6967851474335639

In [150]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[509, 265],
       [ 57,  44]])

In [57]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.90      0.66      0.44      0.76      0.54      0.29       774
          1       0.14      0.44      0.66      0.21      0.54      0.28       101

avg / total       0.81      0.63      0.46      0.70      0.54      0.29       875

In [58]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test, "PARCEL": y_test.index.values}).reset_index(drop=True)
results.sample(20)

     Prediction  Actual      PARCEL
724           0       0  5577037002
602           1       1  5585029045
818           0       0  2428026016
655           0       0  5579021018
849           0       1  5580009021
755           1       0  5586019017
222           0       0  2427001019
44            1       0  5579034019
123           0       0  2428026014
2             0       0  2428003045
792           0       0  2425022014
445           0       0  5576016033
260           0       0  5579036020
543           1       0  5576015002
243           0       0  2428001032
830           0       0  5582009009
203           0       0  5586019042
634           0       0  5586019041
452           0       0  5582023001
777           0       0  5579019017

In [59]:
Hollywood_Hills_East_Results_SFRs_df = Hollywood_Hills_East_df.merge(results, how="left", right_on="PARCEL", left_on="PARCEL")
Hollywood_Hills_East_Results_SFRs_df.head()

,PARCEL,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY,Prediction,Actual
0,5586017003,1,0,0,0,1,1214294,871974,342320,0,...,0,0,0,0,0,0,0,0,0.0,0.0
1,5579035002,0,0,0,0,1,641575,485483,156092,0,...,0,0,0,0,0,1,0,0,0.0,0.0
2,5585001002,1,0,0,0,1,2867782,1837599,1030183,0,...,0,0,0,0,0,0,0,0,NaN,NaN
3,5577038025,0,0,0,0,0,1204724,890187,314537,0,...,0,0,0,0,0,0,0,0,1.0,0.0
4,5577036009,0,0,0,0,1,1125742,909097,216645,0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [61]:
Hollywood_Hills_East_Results_SFRs_df = pd.DataFrame(Hollywood_Hills_East_Results_SFRs_df, columns = ['PARCEL', 'Did it sell?', 'Prediction', 'Actual'])
Hollywood_Hills_East_Results_SFRs_df.head()

       PARCEL  Did it sell?  Prediction  Actual
0  5586017003             0         0.0     0.0
1  5579035002             0         0.0     0.0
2  5585001002             0         NaN     NaN
3  5577038025             0         1.0     0.0
4  5577036009             0         NaN     NaN

In [62]:
Hollywood_Hills_East_Results_SFRs_df.to_csv('Hollywood_Hills_East_Results_SFRs.csv')

# Same as above but w/ feature reduction

In [107]:
file = 'Hollywood_Hills_East_Cleaned.csv'

location = '/Users/Admin/Desktop/GW_Bootcamp/Analysis_Projects/Final_Project_Team_1/'

In [108]:
path = os.path.join(location, file)

In [109]:
# bring in our dataframe

Hollywood_Hills_East_df = pd.read_csv(path, index_col='PARCEL')
Hollywood_Hills_East_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5586017003,1,0,2251 Hollyridge Dr,0,0,1,1214294,871974,342320,0,...,0,0,0,0,0,0,0,0,0,0
5579035002,0,0,3209 Tareco Dr,0,0,1,641575,485483,156092,0,...,0,0,0,0,0,0,0,1,0,0
5585001002,1,0,2780 Creston Dr,0,0,1,2867782,1837599,1030183,0,...,0,0,0,0,0,0,0,0,0,0
5577038025,0,0,6352 Innsdale Dr,0,0,0,1204724,890187,314537,0,...,0,0,0,0,0,0,0,0,0,0
5577036009,0,0,6324 Tahoe Dr,0,0,1,1125742,909097,216645,0,...,0,0,0,0,0,0,0,0,0,0

In [110]:
# drop any nulls

Hollywood_Hills_East_df = Hollywood_Hills_East_df.dropna()

In [111]:
# Change the datatype of these two columns into ints

Hollywood_Hills_East_df['TAXAMT'] = Hollywood_Hills_East_df['TAXAMT'].astype(int)
Hollywood_Hills_East_df['EFFYRBLT'] = Hollywood_Hills_East_df['EFFYRBLT'].astype(int)

In [112]:
# Make sure our dataframe is only SFR's so exclude every property that has an '#' in its site address

Hollywood_Hills_East_df = Hollywood_Hills_East_df[~Hollywood_Hills_East_df['SITEADDRESS'].str.contains('#')]
Hollywood_Hills_East_df.head(3)

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5586017003,1,0,2251 Hollyridge Dr,0,0,1,1214294,871974,342320,0,...,0,0,0,0,0,0,0,0,0,0
5579035002,0,0,3209 Tareco Dr,0,0,1,641575,485483,156092,0,...,0,0,0,0,0,0,0,1,0,0
5585001002,1,0,2780 Creston Dr,0,0,1,2867782,1837599,1030183,0,...,0,0,0,0,0,0,0,0,0,0

In [113]:
# Now drop the SiteAddress column
Hollywood_Hills_East_df.drop(['SITEADDRESS'], axis=1, inplace=True)

In [114]:
Hollywood_Hills_East_df['PARCEL_1'] = Hollywood_Hills_East_df.index.values

In [115]:
# Create our X and y

y = Hollywood_Hills_East_df['Did it sell?']

X = pd.DataFrame(Hollywood_Hills_East_df, columns = ['PARCEL_1',
                                                     'TOTALSF',
                                                     'ASSDLAND',
                                                     'ASSDSTCT',
                                                     'LOTSQFT',
                                                     'ASSDTOTAL',
                                                     'PCNTIMPD',
                                                     'TAXAMT',
                                                     'DOCDATE_YEAR',
                                                     'YEARBLT',
                                                     'EFFYRBLT',
                                                     'PRICE',
                                                     'LOANAMOUT1',
                                                     'BEDROOMS',
                                                     'TOTUNITS', 
                                                     'PATIO',
                                                     'DININGRM',
                                                     'Owned by Trust?',
                                                     'BATHROOMS',
                                                     'QUIT CLAIM',
                                                     'MAIL DIFFERENT FROM SITE?',
                                                     'POOL',
                                                     'NOSTORY',
                                                     'BLDGCOND',
                                                     'TITLECO1',
                                                     'GRANT DEED',
                                                     'VIEW'])

In [116]:
# Step 2: Use PCA to reduce dimension to three principal components.
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
X_pca = pca.fit_transform(X)

In [117]:
# Step 3: Train, test, split

X_train, X_test, y_train, y_test = train_test_split(X_pca, y, random_state=78, stratify=y)

In [118]:
# Step 4: Scale our data

# Create the StandardScaler instance
scaler = StandardScaler()

# Fit our scaler, named 'scaler' to our data, which produces a new StandardScaler object
# which we call 'X_scaler'
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [119]:
# implement random oversampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_random_oversampled, y_random_oversampled = ros.fit_resample(X_train_scaled, y_train)

Counter(y_random_oversampled)

Counter({0: 2322, 1: 2322})

In [120]:
# Logistic regression using random oversampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', 
                                max_iter=300,
                                random_state=78,
                                class_weight="balanced")

model.fit(X_random_oversampled, y_random_oversampled)

LogisticRegression(class_weight='balanced', max_iter=300, random_state=78)

In [121]:
# Evaluate the model
y_pred = model.predict(X_test_scaled)

In [122]:
print(f" Logistic regression model accuracy: {accuracy_score(y_test, y_pred):.3f}")

 Logistic regression model accuracy: 0.334

In [123]:
# just for shits n' gigs, lets find the balanced accuracy score

from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.6233850129198967

In [124]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average="weighted")

0.3798645928705794

# PCA + Oversampling (Random Oversampling) + Logistic Regression (Condos)

In [151]:
# bring in our dataframe

Hollywood_Hills_East_df = pd.read_csv(path, index_col='PARCEL')
Hollywood_Hills_East_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5586017003,1,0,2251 Hollyridge Dr,0,0,1,1214294,871974,342320,0,...,0,0,0,0,0,0,0,0,0,0
5579035002,0,0,3209 Tareco Dr,0,0,1,641575,485483,156092,0,...,0,0,0,0,0,0,0,1,0,0
5585001002,1,0,2780 Creston Dr,0,0,1,2867782,1837599,1030183,0,...,0,0,0,0,0,0,0,0,0,0
5577038025,0,0,6352 Innsdale Dr,0,0,0,1204724,890187,314537,0,...,0,0,0,0,0,0,0,0,0,0
5577036009,0,0,6324 Tahoe Dr,0,0,1,1125742,909097,216645,0,...,0,0,0,0,0,0,0,0,0,0

In [152]:
# drop any nulls

Hollywood_Hills_East_df = Hollywood_Hills_East_df.dropna()

In [153]:
len(Hollywood_Hills_East_df)

4017

In [154]:
# Change the datatype of these two columns into ints

Hollywood_Hills_East_df['TAXAMT'] = Hollywood_Hills_East_df['TAXAMT'].astype(int)
Hollywood_Hills_East_df['EFFYRBLT'] = Hollywood_Hills_East_df['EFFYRBLT'].astype(int)

In [155]:
# Make sure our dataframe is only Condos

Hollywood_Hills_East_df = Hollywood_Hills_East_df[Hollywood_Hills_East_df['SITEADDRESS'].str.contains('#')]
Hollywood_Hills_East_df.head(3)

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5576001050,0,0,2260 N Cahuenga Blvd #308,0,0,1,233350,125784,107566,0,...,0,0,0,0,0,0,0,0,0,0
5579039019,0,0,3033 Hollycrest Dr #3,1,0,0,131234,52489,78745,0,...,0,0,1,0,0,0,0,0,0,0
5579039020,0,0,3033 Hollycrest Dr #4,1,0,0,131234,52489,78745,0,...,0,0,1,0,0,0,0,0,0,0

In [156]:
len(Hollywood_Hills_East_df)

517

In [157]:
# Now drop the SiteAddress column
Hollywood_Hills_East_df.drop(['SITEADDRESS'], axis=1, inplace=True)

In [158]:
Hollywood_Hills_East_df.head(3)

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5576001050,0,0,0,0,1,233350,125784,107566,0,1,...,0,0,0,0,0,0,0,0,0,0
5579039019,0,0,1,0,0,131234,52489,78745,0,0,...,0,0,1,0,0,0,0,0,0,0
5579039020,0,0,1,0,0,131234,52489,78745,0,0,...,0,0,1,0,0,0,0,0,0,0

In [159]:
# Step 1: Create our X and y

y = Hollywood_Hills_East_df['Did it sell?']
X = Hollywood_Hills_East_df.drop(['Did it sell?'], 1)

In [160]:
APN = Hollywood_Hills_East_df.index.values
APN

array([5576001050, 5579039019, 5579039020, 5586011046, 5577010059,
       5577010018, 5577010104, 5577010031, 5582012017, 5577007150,
       5586014105, 5576001036, 5577007117, 5586009024, 5586014120,
       5576001063, 5586014075, 5576001057, 5586014053, 5586009021,
       5579039017, 5586008026, 5577010174, 5577010171, 5577010085,
       5586014052, 5577010030, 5577010161, 5577010007, 5577010143,
       5577010117, 5577010126, 5577010089, 5577010041, 5577010166,
       5577010162, 5577010111, 5577010082, 5586014033, 5585021027,
       5586008024, 5586011038, 5577010076, 5577010078, 5577010098,
       5577010006, 5577010013, 5577010052, 5577010081, 5577010107,
       5577010044, 5577010067, 5577010145, 5577010110, 5577010172,
       5577010004, 5577010025, 5577010034, 5577010086, 5577010105,
       5577010170, 5577010113, 5577010026, 5577010043, 5577010128,
       5577010002, 5577010119, 5577010093, 5577010056, 5577010066,
       5577010051, 5577010071, 5577010075, 5577010010, 5577010028,
       5577010005, 5577010012, 5577010061, 5577010109, 5577010120,
       5577010131, 5577010003, 5577010038, 5577010116, 5577010135,
       5577010011, 5577010045, 5577010060, 5577010072, 5577010096,
       5577010138, 5577010142, 5576001051, 5577010022, 5577010062,
       5577010063, 5577010083, 5577010122, 5577010127, 5577010130,
       5577010144, 5577010168, 5577010021, 5577010023, 5577010033,
       5577010047, 5577010097, 5577010146, 5577010169, 5577010079,
       5577010137, 5577010147, 5577010155, 5577010053, 5577010154,
       5577010057, 5577010173, 5577010125, 5577010027, 5577010148,
       5577010112, 5577010149, 5577010046, 5577010165, 5577010050,
       5577010139, 5577010141, 5577010019, 5577010087, 5577010035,
       5577010088, 5577010108, 5577010080, 5577010103, 5577010040,
       5577010049, 5577010070, 5577010091, 5577010118, 5577010095,
       5577010024, 5577010121, 5577010132, 5577010094, 5577010100,
       5577010136, 5577010101, 5577010150, 5577010020, 5577010042,
       5577010073, 5577010077, 5577010015, 5577010106, 5577010115,
       5577010123, 5577010152, 5577010037, 5577010054, 5577010055,
       5577010069, 5577010090, 5577010114, 5577010036, 5577010039,
       5577010048, 5577010058, 5577010064, 5577010065, 5577010099,
       5577010124, 5577010129, 5577010134, 5577010151, 5577010156,
       5577010164, 5577010167, 5577010029, 5577010158, 5577010157,
       5577010068, 5577010140, 5577010016, 5577010074, 5577010092,
       5577010160, 5577010163, 5577010102, 5577010133, 5577010032,
       5577010084, 5577010008, 5577010017, 5577010153, 5577010159,
       5577010009, 5577010014, 5577007104, 5579018030, 5586011061,
       5586011070, 5576001066, 5586014049, 5577007128, 5577007152,
       5586014051, 5577007097, 5577007156, 5586009022, 5586011045,
       5577007108, 5577007116, 5577007145, 5577007166, 5586011048,
       5586011057, 5576001058, 5586014032, 5577007094, 5577007157,
       5586011054, 5576001039, 5577007100, 5577007115, 5577007124,
       5577007133, 5577007148, 5586008031, 5586008032, 5586008039,
       5586008043, 5586008045, 5586008047, 5586011050, 5585021029,
       5586014040, 5577007096, 5577007167, 5586008027, 5585021023,
       5576001043, 5576001046, 5579018025, 5579018031, 5586011031,
       5576001060, 5579019031, 5579018028, 5576001055, 5576001062,
       5579018037, 5586008025, 5586008029, 5586008044, 5585021020,
       5576001029, 5586014050, 5577007132, 5586008037, 5586008046,
       5577007149, 5586011044, 5586011064, 5586011067, 5586011074,
       5585021021, 5576001033, 5579007028, 5577007091, 5577007113,
       5577007137, 5577007138, 5577007147, 5586011033, 5585021026,
       5586014112, 5576001037, 5586014042, 5577007098, 5577007107,
       5577007127, 5577007139, 5577007141, 5577007155, 5586008048,
       5586008049, 5586011036, 5586011059, 5576001034, 5576001052,
       5579018036, 5577007093, 5577007112, 5577007114, 5577007162,
       5586008041, 5586008050, 5586009023, 5585021019, 5585021024,
       5586014107, 5576001032, 5576001056, 5576001065, 5586014044,
       5579007030, 5579007032, 5577007125, 5577007159, 5577007164,
       5586008040, 5586011052, 5585021030, 5586014110, 5576001028,
       5576001035, 5586014031, 5579018027, 5577007090, 5577007106,
       5577007131, 5577007158, 5586011029, 5586011063, 5586014111,
       5576001048, 5586014043, 5577007099, 5577007129, 5586014113,
       5586014036, 5579018032, 5586014035, 5579018029, 5586014047,
       5577007136, 5576001061, 5586011042, 5576001044, 5586008034,
       5576001047, 5576001059, 5576001040, 5586008051, 5577007121,
       5586014115, 5576001031, 5577007109, 5586011030, 5577007140,
       5576001030, 5586014106, 5586014119, 5586014030, 5577007102,
       5577007160, 5586011056, 5586014114, 5586014118, 5586014045,
       5586014046, 5586008042, 5586011051, 5586014034, 5577007123,
       5577007153, 5586014116, 5577007126, 5577007101, 5577007165,
       5579018026, 5577007103, 5586011062, 5586014039, 5579007031,
       5579007034, 5579007035, 5586008035, 5586011040, 5586011066,
       5579007033, 5577007092, 5586011032, 5586011037, 5586014108,
       5586014109, 5576001041, 5579018033, 5579018034, 5579018035,
       5577007118, 5577007130, 5586008033, 5586011035, 5586011039,
       5576001027, 5576001038, 5576001042, 5576001064, 5586014073,
       5579007036, 5577007122, 5586011041, 5586011049, 5586011055,
       5586011060, 5585021022, 5585021025, 5586014041, 5586014048,
       5579019034, 5577007110, 5577007161, 5586008036, 5586011047,
       5586011053, 5586011065, 5586011073, 5586011075, 5576001049,
       5579007029, 5577007119, 5577007135, 5577007144, 5577007146,
       5577007151, 5577007154, 5586008038, 5586011034, 5586011043,
       5586011068, 5586011069, 5586011071, 5586014117, 5576001045,
       5579019035, 5577007105, 5577007142, 5579039018, 5579019033,
       5579018038, 5586009019, 5586014038, 5577007111, 5577007120,
       5586009020, 5586014037, 5586011072, 5586011058, 5577007095,
       5577007143, 5576001054, 5585021028, 5586014121, 5577007134,
       5577007163, 5576001053, 5579019032, 5580002030, 5579019037,
       5579019038, 5576017105, 5576017089, 5586014124, 5576017093,
       5576017097, 5576017082, 5586014125, 5576017104, 5576017086,
       5580002021, 5586014091, 5586014087, 5586014126, 5586014127,
       5576017103, 5576017085, 5576017090, 5586014085, 5580002022,
       5586014123, 5586014086, 5580002023, 5580002026, 5576017101,
       5586014130, 5586008028, 5580002029, 5580002027, 5576017100,
       5576017102, 5576017084, 5586014122, 5576017091, 5586014129,
       5586014082, 5586014092, 5586014084, 5576017092, 5586014083,
       5586014090, 5576017095, 5576017096, 5576017098, 5580002024,
       5576017099, 5586014131, 5580002028, 5586014093, 5576017094,
       5586014089, 5576017087, 5580002025, 5586014088, 5586014128,
       5576017088, 5576017083])

In [161]:
# Step 2: Use PCA to reduce dimension to three principal components.
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
X_pca = pca.fit_transform(X)

In [162]:
X_pca

array([[-105126.80828907, -278840.11421518,  -55420.55483799],
       [-218662.05874191, -342901.96919614, -116744.18211355],
       [-218662.02653493, -342901.96716651, -116744.12760842],
       ...,
       [-283005.20107816, -366616.17004845, -170905.27991358],
       [-330165.30657467, -354191.87818628, -157078.74786146],
       [-224026.42799315, -307183.5119849 , -130474.4012219 ]])

In [163]:
# Step 3: Train, test, split

X_train, X_test, y_train, y_test = train_test_split(X_pca, y, random_state=78, stratify=y)

In [164]:
# Step 4: Scale our data

# Create the StandardScaler instance
scaler = StandardScaler()

# Fit our scaler, named 'scaler' to our data, which produces a new StandardScaler object
# which we call 'X_scaler'
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [165]:
X_train_scaled_APN = []

In [166]:
# implement random oversampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_random_oversampled, y_random_oversampled = ros.fit_resample(X_train_scaled, y_train)

Counter(y_random_oversampled)

Counter({0: 315, 1: 315})

In [167]:
# Logistic regression using random oversampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', 
                                max_iter=300,
                                random_state=78,
                                class_weight="balanced")

model.fit(X_random_oversampled, y_random_oversampled)

LogisticRegression(class_weight='balanced', max_iter=300, random_state=78)

In [168]:
# Evaluate the model
y_pred = model.predict(X_test_scaled)

In [169]:
print(f" Logistic regression model accuracy: {accuracy_score(y_test, y_pred):.3f}")

 Logistic regression model accuracy: 0.646

In [170]:
# just for shits n' gigs, lets find the balanced accuracy score

from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.6057389937106918

In [171]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average="weighted")

0.6825422804146206

In [172]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[71, 35],
       [11, 13]])

In [84]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.87      0.67      0.54      0.76      0.60      0.37       106
          1       0.27      0.54      0.67      0.36      0.60      0.36        24

avg / total       0.76      0.65      0.57      0.68      0.60      0.37       130

In [85]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test, "PARCEL": y_test.index.values}).reset_index(drop=True)
results.sample(20)

     Prediction  Actual      PARCEL
87            0       0  5577010050
82            0       0  5577010065
90            1       1  5586011032
71            0       0  5577010004
110           0       0  5577010016
53            1       0  5586008027
94            0       0  5586014113
99            0       0  5577010057
33            0       1  5577010146
80            0       0  5577010070
35            0       1  5577010010
69            1       0  5577010129
129           0       0  5577007136
93            1       1  5579019032
125           0       0  5577010063
102           1       0  5586011041
22            0       0  5577010011
83            0       0  5577010071
104           0       0  5576017104
107           1       0  5579007033

In [86]:
Hollywood_Hills_East_Results_Condos_df = Hollywood_Hills_East_df.merge(results, how="left", right_on="PARCEL", left_on="PARCEL")
Hollywood_Hills_East_Results_Condos_df.head()

,PARCEL,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY,Prediction,Actual
0,5576001050,0,0,0,0,1,233350,125784,107566,0,...,0,0,0,0,0,0,0,0,NaN,NaN
1,5579039019,0,0,1,0,0,131234,52489,78745,0,...,1,0,0,0,0,0,0,0,NaN,NaN
2,5579039020,0,0,1,0,0,131234,52489,78745,0,...,1,0,0,0,0,0,0,0,NaN,NaN
3,5586011046,0,0,1,0,1,576707,461578,115129,0,...,0,0,0,0,0,0,0,0,NaN,NaN
4,5577010059,0,0,1,0,1,355257,242680,112577,0,...,0,0,0,0,0,0,0,0,0.0,0.0

In [89]:
Hollywood_Hills_East_Results_Condos_df = pd.DataFrame(Hollywood_Hills_East_Results_Condos_df, columns = ['PARCEL', 'Did it sell?', 'Prediction', 'Actual'])
Hollywood_Hills_East_Results_Condos_df

         PARCEL  Did it sell?  Prediction  Actual
0    5576001050             1         NaN     NaN
1    5579039019             0         NaN     NaN
2    5579039020             0         NaN     NaN
3    5586011046             0         NaN     NaN
4    5577010059             0         0.0     0.0
..          ...           ...         ...     ...
512  5580002025             0         NaN     NaN
513  5586014088             0         NaN     NaN
514  5586014128             0         NaN     NaN
515  5576017088             0         NaN     NaN
516  5576017083             0         NaN     NaN

[517 rows x 4 columns]

In [90]:
Hollywood_Hills_East_Results_Condos_df.to_csv('Hollywood_Hills_East_Results_Condos.csv')

In [173]:
# Now lets find the discrepencies

file = 'Hollywood_Hills_East_Cleaned.csv'

location = '/Users/Admin/Desktop/GW_Bootcamp/Analysis_Projects/Final_Project_Team_1/'

In [174]:
path = os.path.join(location, file)

In [175]:
# bring in our dataframe

Hollywood_Hills_East_df = pd.read_csv(path, index_col='PARCEL')
Hollywood_Hills_East_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5586017003,1,0,2251 Hollyridge Dr,0,0,1,1214294,871974,342320,0,...,0,0,0,0,0,0,0,0,0,0
5579035002,0,0,3209 Tareco Dr,0,0,1,641575,485483,156092,0,...,0,0,0,0,0,0,0,1,0,0
5585001002,1,0,2780 Creston Dr,0,0,1,2867782,1837599,1030183,0,...,0,0,0,0,0,0,0,0,0,0
5577038025,0,0,6352 Innsdale Dr,0,0,0,1204724,890187,314537,0,...,0,0,0,0,0,0,0,0,0,0
5577036009,0,0,6324 Tahoe Dr,0,0,1,1125742,909097,216645,0,...,0,0,0,0,0,0,0,0,0,0

In [176]:
# drop any nulls

Hollywood_Hills_East_df = Hollywood_Hills_East_df.dropna()

In [177]:
# Change the datatype of these two columns into ints

Hollywood_Hills_East_df['TAXAMT'] = Hollywood_Hills_East_df['TAXAMT'].astype(int)
Hollywood_Hills_East_df['EFFYRBLT'] = Hollywood_Hills_East_df['EFFYRBLT'].astype(int)

In [178]:
# Make sure our dataframe is only SFR's so exclude every property that has an '#' in its site address

Hollywood_Hills_East_df = Hollywood_Hills_East_df[~Hollywood_Hills_East_df['SITEADDRESS'].str.contains('#')]
Hollywood_Hills_East_df.head(3)

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5586017003,1,0,2251 Hollyridge Dr,0,0,1,1214294,871974,342320,0,...,0,0,0,0,0,0,0,0,0,0
5579035002,0,0,3209 Tareco Dr,0,0,1,641575,485483,156092,0,...,0,0,0,0,0,0,0,1,0,0
5585001002,1,0,2780 Creston Dr,0,0,1,2867782,1837599,1030183,0,...,0,0,0,0,0,0,0,0,0,0

In [179]:
# Change the datatype of these two columns into ints

Hollywood_Hills_East_df['TAXAMT'] = Hollywood_Hills_East_df['TAXAMT'].astype(int)
Hollywood_Hills_East_df['EFFYRBLT'] = Hollywood_Hills_East_df['EFFYRBLT'].astype(int)

In [180]:
# Make sure our dataframe is only SFR's so exclude every property that has an '#' in its site address

Hollywood_Hills_East_df = Hollywood_Hills_East_df[~Hollywood_Hills_East_df['SITEADDRESS'].str.contains('#')]
Hollywood_Hills_East_df.head(3)

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5586017003,1,0,2251 Hollyridge Dr,0,0,1,1214294,871974,342320,0,...,0,0,0,0,0,0,0,0,0,0
5579035002,0,0,3209 Tareco Dr,0,0,1,641575,485483,156092,0,...,0,0,0,0,0,0,0,1,0,0
5585001002,1,0,2780 Creston Dr,0,0,1,2867782,1837599,1030183,0,...,0,0,0,0,0,0,0,0,0,0

In [181]:
# Now drop the SiteAddress column
Hollywood_Hills_East_df.drop(['SITEADDRESS'], axis=1, inplace=True)

In [182]:
# Now lets split our dataframe into sellers and nonsellers

HHE_Sellers_df = Hollywood_Hills_East_df[Hollywood_Hills_East_df['Did it sell?'] == 1]
HHE_Sellers_df.head()

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5577036010,1,0,0,0,1,719665,429416,290249,0,1,...,0,0,0,0,0,0,0,1,0,0
5582020015,1,0,0,0,1,1156585,925269,231316,0,1,...,0,0,0,0,0,0,0,1,0,0
5586017018,1,0,1,0,0,1077381,821650,255731,0,0,...,0,0,0,0,0,0,0,0,0,0
5577038029,1,0,0,0,0,157539,51516,106023,0,1,...,0,0,0,0,1,0,0,0,0,0
5577038031,0,0,0,0,1,1596331,1082259,514072,0,0,...,0,0,1,0,0,0,0,0,0,0

In [183]:
HHE_NonSellers_df = Hollywood_Hills_East_df[Hollywood_Hills_East_df['Did it sell?'] == 0]
HHE_NonSellers_df.head()

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5586017003,1,0,0,0,1,1214294,871974,342320,0,1,...,0,0,0,0,0,0,0,0,0,0
5579035002,0,0,0,0,1,641575,485483,156092,0,1,...,0,0,0,0,0,0,0,1,0,0
5585001002,1,0,0,0,1,2867782,1837599,1030183,0,0,...,0,0,0,0,0,0,0,0,0,0
5577038025,0,0,0,0,0,1204724,890187,314537,0,0,...,0,0,0,0,0,0,0,0,0,0
5577036009,0,0,0,0,1,1125742,909097,216645,0,1,...,0,0,0,0,0,0,0,0,0,0

In [184]:
# Absentee Owners

sum(HHE_Sellers_df['MAIL DIFFERENT FROM SITE?'] == 1) / len(HHE_Sellers_df) * 100

31.93069306930693

In [185]:
sum(HHE_NonSellers_df['MAIL DIFFERENT FROM SITE?'] == 1) / len(HHE_NonSellers_df) * 100

25.775193798449614

In [186]:
# Outside CA

sum(HHE_Sellers_df['MAIL OUTSIDE CA?'] == 1) / len(HHE_Sellers_df) * 100

6.683168316831684

In [188]:
sum(HHE_NonSellers_df['MAIL OUTSIDE CA?'] == 1) / len(HHE_NonSellers_df) * 100

3.3268733850129197

In [189]:
# Property Size

HHE_Sellers_df['TOTALSF'].mean()

2163.6311881188117

In [190]:
HHE_NonSellers_df['TOTALSF'].mean()

2147.845284237726

In [191]:
# Assessed Value

HHE_Sellers_df['ASSDTOTAL'][HHE_Sellers_df['ASSDTOTAL'] != 0].mean()

942139.9653465346

In [192]:
HHE_NonSellers_df['ASSDTOTAL'][HHE_NonSellers_df['ASSDTOTAL'] != 0].mean()

833122.4166666666

In [193]:
# Year Built

HHE_Sellers_df['YEARBLT'].mean()

1949.8787128712872

In [194]:
HHE_NonSellers_df['YEARBLT'].mean()

1950.6485788113696

In [195]:
# Last Sale Price

HHE_Sellers_df['PRICE'][HHE_Sellers_df['PRICE'] != 0].mean()

1137671.2621359224

In [196]:
HHE_NonSellers_df['PRICE'][HHE_NonSellers_df['PRICE'] != 0].mean()

999355.6468023256

In [197]:
# Avg Year of Last Purchase

HHE_Sellers_df['DOCDATE_YEAR'][HHE_Sellers_df['DOCDATE_YEAR'] != 0].mean()

2009.5358974358974

In [198]:
HHE_NonSellers_df['DOCDATE_YEAR'][HHE_NonSellers_df['DOCDATE_YEAR'] != 0].mean()

2007.5780520346898

In [199]:
# Avg Tax Amount

HHE_Sellers_df['TAXAMT'][HHE_Sellers_df['TAXAMT'] != 0].mean()

11615.10396039604

In [200]:
HHE_NonSellers_df['TAXAMT'][HHE_NonSellers_df['TAXAMT'] != 0].mean()

10310.409369951534

In [201]:
# Avg Loan Amount

HHE_Sellers_df['LOANAMOUT1'][HHE_Sellers_df['LOANAMOUT1'] != 0].mean()

715125.3769633508

In [202]:
HHE_NonSellers_df['LOANAMOUT1'][HHE_NonSellers_df['LOANAMOUT1'] != 0].mean()

683889.2729824561

# Same as above but for Condos

In [203]:
file = 'Hollywood_Hills_East_Cleaned.csv'

location = '/Users/Admin/Desktop/GW_Bootcamp/Analysis_Projects/Final_Project_Team_1/'

In [204]:
path = os.path.join(location, file)

In [205]:
# bring in our dataframe

Hollywood_Hills_East_df = pd.read_csv(path, index_col='PARCEL')
Hollywood_Hills_East_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5586017003,1,0,2251 Hollyridge Dr,0,0,1,1214294,871974,342320,0,...,0,0,0,0,0,0,0,0,0,0
5579035002,0,0,3209 Tareco Dr,0,0,1,641575,485483,156092,0,...,0,0,0,0,0,0,0,1,0,0
5585001002,1,0,2780 Creston Dr,0,0,1,2867782,1837599,1030183,0,...,0,0,0,0,0,0,0,0,0,0
5577038025,0,0,6352 Innsdale Dr,0,0,0,1204724,890187,314537,0,...,0,0,0,0,0,0,0,0,0,0
5577036009,0,0,6324 Tahoe Dr,0,0,1,1125742,909097,216645,0,...,0,0,0,0,0,0,0,0,0,0

In [206]:
# drop any nulls

Hollywood_Hills_East_df = Hollywood_Hills_East_df.dropna()

In [207]:
# Change the datatype of these two columns into ints

Hollywood_Hills_East_df['TAXAMT'] = Hollywood_Hills_East_df['TAXAMT'].astype(int)
Hollywood_Hills_East_df['EFFYRBLT'] = Hollywood_Hills_East_df['EFFYRBLT'].astype(int)

In [208]:
# Make sure our dataframe is only condos

Hollywood_Hills_East_df = Hollywood_Hills_East_df[Hollywood_Hills_East_df['SITEADDRESS'].str.contains('#')]
Hollywood_Hills_East_df.head(3)

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5576001050,0,0,2260 N Cahuenga Blvd #308,0,0,1,233350,125784,107566,0,...,0,0,0,0,0,0,0,0,0,0
5579039019,0,0,3033 Hollycrest Dr #3,1,0,0,131234,52489,78745,0,...,0,0,1,0,0,0,0,0,0,0
5579039020,0,0,3033 Hollycrest Dr #4,1,0,0,131234,52489,78745,0,...,0,0,1,0,0,0,0,0,0,0

In [210]:
# Now drop the SiteAddress column
Hollywood_Hills_East_df.drop(['SITEADDRESS'], axis=1, inplace=True)

In [211]:
# Now lets split our dataframe into sellers and nonsellers

HHE_Sellers_df = Hollywood_Hills_East_df[Hollywood_Hills_East_df['Did it sell?'] == 1]
HHE_Sellers_df.head()

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5576001050,0,0,0,0,1,233350,125784,107566,0,1,...,0,0,0,0,0,0,0,0,0,0
5577010104,1,0,0,0,1,139491,41817,97674,0,1,...,0,0,0,0,1,0,0,0,0,0
5586009021,1,0,0,0,1,223792,102492,121300,0,0,...,0,0,0,0,0,0,0,0,0,0
5577010174,0,0,0,0,1,310350,149605,160745,0,0,...,0,0,0,0,0,0,0,0,0,0
5577010089,0,0,0,0,1,454922,258529,196393,0,0,...,0,0,0,0,0,0,0,0,0,0

In [212]:
HHE_NonSellers_df = Hollywood_Hills_East_df[Hollywood_Hills_East_df['Did it sell?'] == 0]
HHE_NonSellers_df.head()

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,INTERSPOUSAL,JOINT TENANT,Other,PARTNERSHIP,QUIT CLAIM,RE-RECORD,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5579039019,0,0,1,0,0,131234,52489,78745,0,0,...,0,0,1,0,0,0,0,0,0,0
5579039020,0,0,1,0,0,131234,52489,78745,0,0,...,0,0,1,0,0,0,0,0,0,0
5586011046,0,0,1,0,1,576707,461578,115129,0,0,...,0,0,0,0,0,0,0,0,0,0
5577010059,0,0,1,0,1,355257,242680,112577,0,1,...,0,0,0,0,0,0,0,0,0,0
5577010018,0,0,1,0,1,442170,309570,132600,0,0,...,0,0,0,0,0,0,0,0,0,0

In [213]:
# Absentee Owners

sum(HHE_Sellers_df['MAIL DIFFERENT FROM SITE?'] == 1) / len(HHE_Sellers_df) * 100

31.25

In [214]:
sum(HHE_NonSellers_df['MAIL DIFFERENT FROM SITE?'] == 1) / len(HHE_NonSellers_df) * 100

32.066508313539195

In [215]:
# Outside CA

sum(HHE_Sellers_df['MAIL OUTSIDE CA?'] == 1) / len(HHE_Sellers_df) * 100

6.25

In [216]:
sum(HHE_NonSellers_df['MAIL OUTSIDE CA?'] == 1) / len(HHE_NonSellers_df) * 100

4.038004750593824

In [217]:
# Property Size

HHE_Sellers_df['TOTALSF'].mean()

1104.65625

In [218]:
HHE_NonSellers_df['TOTALSF'].mean()

1119.874109263658

In [219]:
# Assessed Value

HHE_Sellers_df['ASSDTOTAL'][HHE_Sellers_df['ASSDTOTAL'] != 0].mean()

389782.4166666667

In [220]:
HHE_NonSellers_df['ASSDTOTAL'][HHE_NonSellers_df['ASSDTOTAL'] != 0].mean()

347990.24465558195

In [221]:
# Year Built

HHE_Sellers_df['YEARBLT'].mean()

1978.3958333333333

In [222]:
HHE_NonSellers_df['YEARBLT'].mean()

1976.790973871734

In [223]:
# Last Sale Price

HHE_Sellers_df['PRICE'][HHE_Sellers_df['PRICE'] != 0].mean()

385322.5806451613

In [224]:
HHE_NonSellers_df['PRICE'][HHE_NonSellers_df['PRICE'] != 0].mean()

374482.58461538464

In [225]:
# Avg Year of Last Purchase

HHE_Sellers_df['DOCDATE_YEAR'][HHE_Sellers_df['DOCDATE_YEAR'] != 0].mean()

2009.2421052631578

In [226]:
HHE_NonSellers_df['DOCDATE_YEAR'][HHE_NonSellers_df['DOCDATE_YEAR'] != 0].mean()

2008.2283653846155

In [227]:
# Avg Tax Amount

HHE_Sellers_df['TAXAMT'][HHE_Sellers_df['TAXAMT'] != 0].mean()

4819.458333333333

In [228]:
HHE_NonSellers_df['TAXAMT'][HHE_NonSellers_df['TAXAMT'] != 0].mean()

4308.878859857482

In [229]:
# Avg Loan Amount

HHE_Sellers_df['LOANAMOUT1'][HHE_Sellers_df['LOANAMOUT1'] != 0].mean()

296291.2037037037

In [230]:
HHE_NonSellers_df['LOANAMOUT1'][HHE_NonSellers_df['LOANAMOUT1'] != 0].mean()

283659.0627615063