In [549]:
# import our dependencies

%matplotlib inline
from collections import Counter
import pandas as pd
from imblearn.over_sampling import RandomOverSampler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import numpy as np
import os

# Import The Total File

In [550]:
file = 'Total_Cleaned.csv'

location = '/Users/Admin/Desktop/GW_Bootcamp/Analysis_Projects/Final_Project_Team_1/'

In [551]:
path = os.path.join(location, file)

In [552]:
# import our file

Total_df = pd.read_csv(path, index_col='PARCEL')
Total_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505026001,1,0,354 N Plymouth Blvd,1,0,0,2054958,1583885,471073,0,...,0,0,0,0,0,0,0,0,0,0
5515028023,1,0,143 N Plymouth Blvd,0,0,0,915420,592174,323246,0,...,0,0,0,0,0,0,0,0,0,0
5515022015,1,0,253 S Plymouth Blvd,0,0,0,1304706,731909,572797,0,...,0,0,0,0,0,0,0,0,0,0
5513010003,1,0,164 N Las Palmas Ave,0,0,0,2518796,1609956,908840,0,...,0,0,0,0,0,0,0,0,0,0
5515012030,1,0,108 S Rossmore Ave,1,0,0,1428176,999727,428449,0,...,0,0,0,0,0,0,0,0,0,0

In [553]:
Total_df = Total_df.dropna()

In [554]:
Total_df.dtypes

Owned by Trust?               int64
Owned by Business?            int64
SITEADDRESS                  object
MAIL DIFFERENT FROM SITE?     int64
MAIL OUTSIDE CA?              int64
                              ...
SPECIAL WARRANTY              int64
TAX DEED                      int64
TRUST TRANSFER                int64
TRUSTEES                      int64
WARRANTY                      int64
Length: 67, dtype: object

In [555]:
Total_df['TAXAMT'] = Total_df['TAXAMT'].astype(int)
Total_df['EFFYRBLT'] = Total_df['EFFYRBLT'].astype(int)

In [556]:
# Make sure our dataframe is only SFR's so exclude every property that has an '#' in its site address

Total_df = Total_df[~Total_df['SITEADDRESS'].str.contains('#')]
Total_df.head(3)

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505026001,1,0,354 N Plymouth Blvd,1,0,0,2054958,1583885,471073,0,...,0,0,0,0,0,0,0,0,0,0
5515028023,1,0,143 N Plymouth Blvd,0,0,0,915420,592174,323246,0,...,0,0,0,0,0,0,0,0,0,0
5515022015,1,0,253 S Plymouth Blvd,0,0,0,1304706,731909,572797,0,...,0,0,0,0,0,0,0,0,0,0

In [557]:
# Now drop the SiteAddress column
Total_df.drop(['SITEADDRESS'], axis=1, inplace=True)

In [558]:
# check to see if it dropped.
Total_df.head(3)

,Owned by Trust?,Owned by Business?,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,EXEMPTCD,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505026001,1,0,1,0,0,2054958,1583885,471073,0,0,...,0,0,0,0,0,0,0,0,0,0
5515028023,1,0,0,0,0,915420,592174,323246,0,0,...,0,0,0,0,0,0,0,0,0,0
5515022015,1,0,0,0,0,1304706,731909,572797,0,0,...,0,0,0,0,0,0,0,0,0,0

In [559]:
Total_df.columns

Index(['Owned by Trust?', 'Owned by Business?', 'MAIL DIFFERENT FROM SITE?',
       'MAIL OUTSIDE CA?', 'TITLECO1', 'ASSDTOTAL', 'ASSDLAND', 'ASSDSTCT',
       'ASSDOTHR', 'EXEMPTCD', 'EXMPTAMT', 'PCNTIMPD', 'TAXAMT',
       'DOCDATE_YEAR', 'MULTIPARCEL', 'PRICE', 'LENDER1', 'LOANAMOUT1',
       'LOANTYPE1', 'YEARBLT', 'EFFYRBLT', 'LOTSQFT', 'TOTALSF', 'GRGTYPE',
       'BLDGMAT', 'TOTUNITS', 'QUALCLAS', 'BLDGCOND', 'NOSTORY', 'ROOFMAT',
       'FOUNDATN', 'BEDROOMS', 'BATHROOMS', 'FAMILYRM', 'DININGRM', 'POOL',
       'PATIO', 'FIREPLCE', 'AIRMTHOD', 'HEATMTHD', 'VIEW', 'Did it sell?',
       'EXECUTION DEED', 'EXECUTORS', 'FINAL DIST', 'GIFT', 'GRANT DEED',
       'IN LIEU OF FORC', 'INTERSPOUSAL', 'JOINT TENANT', 'MEMO AGREE SALE',
       'MISC', 'NAME CHANGE', 'ORD OF CONDEMN', 'Other', 'PARTNERSHIP',
       'PERSONAL REP', 'QUIT CLAIM', 'RE-RECORD', 'RECEIVERS DEED', 'SHERIFFS',
       'SPECIAL WARRANTY', 'TAX DEED', 'TRUST TRANSFER', 'TRUSTEES',
       'WARRANTY'],
      dtype='object')

In [560]:
#Total_df = Total_df[Total_df['TOTALSF'] > 3000]

In [561]:
# Step 1: Create our X and y

y = Total_df['Did it sell?']
X = Total_df.drop(['Did it sell?'], 1)

In [562]:
APN = Total_df.index.values
APN

array([5505026001, 5515028023, 5515022015, ..., 5554012043, 5554012038,
       5554012051])

In [563]:
# Step 2: Use PCA to reduce dimension to three principal components.
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
X_pca = pca.fit_transform(X)

In [564]:
X_pca

array([[ 1461868.08989593,   391224.53821688,   645594.06108169],
       [  -94067.17343319,   -44276.29890968,  -119518.64215487],
       [  536635.34012793,   -91517.36131471,  -198061.46711346],
       ...,
       [-1012391.78215273,   156564.70257836,   143274.6089461 ],
       [-1194306.29261377,    11025.06050752,   142404.84945879],
       [ -715970.52151997,   186555.06189437,  -329873.13418988]])

In [565]:
# Step 3: Train, test, split

X_train, X_test, y_train, y_test = train_test_split(X_pca, y, random_state=78, stratify=y)

In [566]:
# Step 4: Scale our data

# Create the StandardScaler instance
scaler = StandardScaler()

# Fit our scaler, named 'scaler' to our data, which produces a new StandardScaler object
# which we call 'X_scaler'
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [567]:
X_train_scaled_APN = []

In [568]:
# implement random oversampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_random_oversampled, y_random_oversampled = ros.fit_resample(X_train_scaled, y_train)

Counter(y_random_oversampled)

Counter({0: 17557, 1: 17557})

In [569]:
# Logistic regression using random oversampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', 
                                max_iter=300,
                                random_state=78,
                                class_weight="balanced")

model.fit(X_random_oversampled, y_random_oversampled)

LogisticRegression(class_weight='balanced', max_iter=300, random_state=78)

In [570]:
# Evaluate the model
y_pred = model.predict(X_test_scaled)

In [571]:
print(f" Logistic regression model accuracy: {accuracy_score(y_test, y_pred):.3f}")

 Logistic regression model accuracy: 0.661

In [572]:
# just for shits n' gigs, lets find the balanced accuracy score

from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5608294211645523

In [573]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average="weighted")

0.7123250947216639

In [574]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[4074, 1779],
       [ 498,  369]])

In [575]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.89      0.70      0.43      0.78      0.54      0.30      5853
          1       0.17      0.43      0.70      0.24      0.54      0.29       867

avg / total       0.80      0.66      0.46      0.71      0.54      0.30      6720

# Same as above but with feature reduction

In [576]:
file = 'Total_Cleaned.csv'

location = '/Users/Admin/Desktop/GW_Bootcamp/Analysis_Projects/Final_Project_Team_1/'

In [577]:
path = os.path.join(location, file)

In [578]:
# import our file

Total_df = pd.read_csv(path, index_col='PARCEL')
Total_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505026001,1,0,354 N Plymouth Blvd,1,0,0,2054958,1583885,471073,0,...,0,0,0,0,0,0,0,0,0,0
5515028023,1,0,143 N Plymouth Blvd,0,0,0,915420,592174,323246,0,...,0,0,0,0,0,0,0,0,0,0
5515022015,1,0,253 S Plymouth Blvd,0,0,0,1304706,731909,572797,0,...,0,0,0,0,0,0,0,0,0,0
5513010003,1,0,164 N Las Palmas Ave,0,0,0,2518796,1609956,908840,0,...,0,0,0,0,0,0,0,0,0,0
5515012030,1,0,108 S Rossmore Ave,1,0,0,1428176,999727,428449,0,...,0,0,0,0,0,0,0,0,0,0

In [579]:
Total_df = Total_df.dropna()

In [580]:
Total_df['TAXAMT'] = Total_df['TAXAMT'].astype(int)
Total_df['EFFYRBLT'] = Total_df['EFFYRBLT'].astype(int)

In [581]:
# Make sure our dataframe is only SFR's so exclude every property that has an '#' in its site address

Total_df = Total_df[~Total_df['SITEADDRESS'].str.contains('#')]
Total_df.head(3)

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505026001,1,0,354 N Plymouth Blvd,1,0,0,2054958,1583885,471073,0,...,0,0,0,0,0,0,0,0,0,0
5515028023,1,0,143 N Plymouth Blvd,0,0,0,915420,592174,323246,0,...,0,0,0,0,0,0,0,0,0,0
5515022015,1,0,253 S Plymouth Blvd,0,0,0,1304706,731909,572797,0,...,0,0,0,0,0,0,0,0,0,0

In [582]:
# Now drop the SiteAddress column
Total_df.drop(['SITEADDRESS'], axis=1, inplace=True)

In [583]:
Total_df['PARCEL_1'] = Total_df.index.values

In [584]:
# create X and y

y = Total_df['Did it sell?']

X = pd.DataFrame(Total_df, columns = ['PARCEL_1',
                                      'ASSDLAND',
                                      'LOTSQFT',
                                      'TOTALSF',
                                      'ASSDTOTAL',
                                      'DOCDATE_YEAR',
                                      'TAXAMT',
                                      'PRICE',
                                      'YEARBLT',
                                      'EFFYRBLT',
                                      'LOANAMOUT1',
                                      'PCNTIMPD',
                                      'BATHROOMS',
                                      'BEDROOMS',
                                      'Owned by Trust?',
                                      'Owned by Business?',
                                      'MAIL DIFFERENT FROM SITE?',
                                      'TITLECO1',
                                      'NOSTORY',
                                      'EXEMPTCD'])

In [585]:
# Step 2: Use PCA to reduce dimension to three principal components.
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
X_pca = pca.fit_transform(X)

In [586]:
# implement random oversampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_random_oversampled, y_random_oversampled = ros.fit_resample(X_train_scaled, y_train)

Counter(y_random_oversampled)

Counter({0: 17557, 1: 17557})

In [587]:
# Logistic regression using random oversampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', 
                                max_iter=300,
                                random_state=78,
                                class_weight="balanced")

model.fit(X_random_oversampled, y_random_oversampled)

LogisticRegression(class_weight='balanced', max_iter=300, random_state=78)

In [588]:
# Evaluate the model
y_pred = model.predict(X_test_scaled)

In [589]:
print(f" Logistic regression model accuracy: {accuracy_score(y_test, y_pred):.3f}")

 Logistic regression model accuracy: 0.661

In [590]:
# just for shits n' gigs, lets find the balanced accuracy score

from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5608294211645523

In [591]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average="weighted")

0.7123250947216639

In [592]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[4074, 1779],
       [ 498,  369]])

# PCA + Oversampling (Random Oversampling) + Logistic Regression (Condos)

In [593]:
# bring in our dataframe

Total_df = pd.read_csv(path, index_col='PARCEL')
Total_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505026001,1,0,354 N Plymouth Blvd,1,0,0,2054958,1583885,471073,0,...,0,0,0,0,0,0,0,0,0,0
5515028023,1,0,143 N Plymouth Blvd,0,0,0,915420,592174,323246,0,...,0,0,0,0,0,0,0,0,0,0
5515022015,1,0,253 S Plymouth Blvd,0,0,0,1304706,731909,572797,0,...,0,0,0,0,0,0,0,0,0,0
5513010003,1,0,164 N Las Palmas Ave,0,0,0,2518796,1609956,908840,0,...,0,0,0,0,0,0,0,0,0,0
5515012030,1,0,108 S Rossmore Ave,1,0,0,1428176,999727,428449,0,...,0,0,0,0,0,0,0,0,0,0

In [594]:
# drop any nulls

Total_df = Total_df.dropna()

In [595]:
len(Total_df)

36599

In [596]:
# Change the datatype of these two columns into ints

Total_df['TAXAMT'] = Total_df['TAXAMT'].astype(int)
Total_df['EFFYRBLT'] = Total_df['EFFYRBLT'].astype(int)

In [597]:
# Make sure our dataframe is only Condos

Total_df = Total_df[Total_df['SITEADDRESS'].str.contains('#')]
Total_df.head(3)

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505008010,1,0,546 S Rimpau Blvd #2200,0,0,0,3491436,2450134,1041302,0,...,0,0,0,0,0,0,0,0,0,0
5515029015,1,0,169 S Plymouth Blvd #100,0,0,0,3122716,2402093,720623,0,...,0,0,0,0,0,0,0,0,0,0
5522008053,0,0,5114 Melrose Ave #8,0,0,0,790127,548843,241284,0,...,0,0,0,0,0,0,0,0,0,0

In [598]:
len(Total_df)

9721

In [599]:
# Now drop the SiteAddress column
Total_df.drop(['SITEADDRESS'], axis=1, inplace=True)

In [600]:
# # # Option 1: Filter by size
# Total_df = Total_df[Total_df['TOTALSF'] > 800]
# Total_df = Total_df[Total_df['TOTALSF'] < 1600]
# Total_df['TOTALSF'] = Total_df['TOTALSF'].astype(float)

# # Option 2: Filter by year purchased
# Total_df = Total_df[Total_df['DOCDATE_YEAR'] > 2010]

In [601]:
Total_df['DOCDATE_YEAR']

PARCEL
5505008010    2003
5515029015    2005
5522008053    2015
5522008048    2015
5516014005    1973
              ...
5554009037    2015
5554010042    2012
5560023079    2013
5554008098    2004
5554008097    2001
Name: DOCDATE_YEAR, Length: 9721, dtype: int64

In [602]:
# Step 1: Create our X and y

y = Total_df['Did it sell?']
X = Total_df.drop(['Did it sell?'], 1)

In [603]:
APN = Total_df.index.values
APN

array([5505008010, 5515029015, 5522008053, ..., 5560023079, 5554008098,
       5554008097])

In [604]:
# Step 2: Use PCA to reduce dimension to three principal components.
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
X_pca = pca.fit_transform(X)

In [605]:
X_pca

array([[ 4226534.51399112, -1841348.9602575 ,  -248920.39809726],
       [ 3965318.68309979, -1717967.03185004,   657511.41349244],
       [  650103.0965447 ,  -141685.53721716,   279612.25524987],
       ...,
       [  213669.46825204,    18853.68230521,   150879.17160837],
       [ -133630.37140388,   109072.74848264,    69989.0545835 ],
       [ -332895.94760777,   190829.43377764,    24722.29998858]])

In [606]:
# Step 3: Train, test, split

X_train, X_test, y_train, y_test = train_test_split(X_pca, y, random_state=78, stratify=y)

In [607]:
# Step 4: Scale our data

# Create the StandardScaler instance
scaler = StandardScaler()

# Fit our scaler, named 'scaler' to our data, which produces a new StandardScaler object
# which we call 'X_scaler'
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [608]:
X_train_scaled_APN = []

In [609]:
# implement random oversampling
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_random_oversampled, y_random_oversampled = ros.fit_resample(X_train_scaled, y_train)

Counter(y_random_oversampled)

Counter({0: 6101, 1: 6101})

In [610]:
# Logistic regression using random oversampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', 
                                max_iter=300,
                                random_state=78,
                                class_weight="balanced")

model.fit(X_random_oversampled, y_random_oversampled)

LogisticRegression(class_weight='balanced', max_iter=300, random_state=78)

In [611]:
# Evaluate the model
y_pred = model.predict(X_test_scaled)

In [612]:
print(f" Logistic regression model accuracy: {accuracy_score(y_test, y_pred):.3f}")

 Logistic regression model accuracy: 0.592

In [613]:
# just for shits n' gigs, lets find the balanced accuracy score

from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5678883428883429

In [614]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average="weighted")

0.6445349634264508

In [615]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1227,  808],
       [ 185,  211]])

In [616]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.87      0.60      0.53      0.71      0.57      0.32      2035
          1       0.21      0.53      0.60      0.30      0.57      0.32       396

avg / total       0.76      0.59      0.54      0.64      0.57      0.32      2431

# Below is simply for testing discrepencies between sellers and non-sellers

In [617]:
file = 'Total_Cleaned.csv'

location = '/Users/Admin/Desktop/GW_Bootcamp/Analysis_Projects/Final_Project_Team_1/'

In [618]:
path = os.path.join(location, file)

In [619]:
# import our file

Total_df = pd.read_csv(path, index_col='PARCEL')
Total_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505026001,1,0,354 N Plymouth Blvd,1,0,0,2054958,1583885,471073,0,...,0,0,0,0,0,0,0,0,0,0
5515028023,1,0,143 N Plymouth Blvd,0,0,0,915420,592174,323246,0,...,0,0,0,0,0,0,0,0,0,0
5515022015,1,0,253 S Plymouth Blvd,0,0,0,1304706,731909,572797,0,...,0,0,0,0,0,0,0,0,0,0
5513010003,1,0,164 N Las Palmas Ave,0,0,0,2518796,1609956,908840,0,...,0,0,0,0,0,0,0,0,0,0
5515012030,1,0,108 S Rossmore Ave,1,0,0,1428176,999727,428449,0,...,0,0,0,0,0,0,0,0,0,0

In [620]:
Total_df['TAXAMT'] = Total_df['TAXAMT'].astype(int)
Total_df['EFFYRBLT'] = Total_df['EFFYRBLT'].astype(int)

In [621]:
# Make sure our dataframe is only SFR's so exclude every property that has an '#' in its site address

Total_df = Total_df[~Total_df['SITEADDRESS'].str.contains('#')]
Total_df.head(3)

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505026001,1,0,354 N Plymouth Blvd,1,0,0,2054958,1583885,471073,0,...,0,0,0,0,0,0,0,0,0,0
5515028023,1,0,143 N Plymouth Blvd,0,0,0,915420,592174,323246,0,...,0,0,0,0,0,0,0,0,0,0
5515022015,1,0,253 S Plymouth Blvd,0,0,0,1304706,731909,572797,0,...,0,0,0,0,0,0,0,0,0,0

# Separate out our sellers from non-sellers

In [622]:
Total_Sellers_df = Total_df[Total_df['Did it sell?'] == 1]

In [623]:
Total_Sellers_df

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5515022015,1,0,253 S Plymouth Blvd,0,0,0,1304706,731909,572797,0,...,0,0,0,0,0,0,0,0,0,0
5516023003,1,0,215 S St Andrews Pl,0,0,0,582687,466154,116533,0,...,0,0,0,0,0,0,0,0,0,0
5515023004,0,0,122 S Larchmont Blvd,0,0,0,732290,518993,213297,0,...,0,0,0,0,0,0,0,0,0,0
5523001002,0,0,640 N June St,0,0,0,950936,615024,335912,0,...,0,0,0,0,0,0,0,0,0,0
5515012004,0,0,105 S Arden Blvd,0,0,0,718038,545610,172428,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4340004029,1,0,928 Hilldale Ave,1,1,0,746202,319801,426401,0,...,0,0,0,0,0,0,0,0,0,0
4337007083,0,0,828 Westbourne Dr,1,0,1,1033978,674604,359374,0,...,0,0,0,0,0,0,0,0,0,0
5554012037,0,0,7911 Norton Ave,1,1,1,561100,479200,81900,0,...,0,0,0,0,0,0,0,0,0,0
5554012049,0,1,7919 Norton Ave,1,0,0,615790,307383,308407,0,...,0,0,0,0,0,0,0,0,0,0
5554012043,0,0,7915 1/8 Norton Ave,1,0,1,443569,354857,88712,0,...,0,0,0,0,0,0,0,1,0,0

In [624]:
Total_NonSellers_df = Total_df[Total_df['Did it sell?'] == 0]
Total_NonSellers_df

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505026001,1,0,354 N Plymouth Blvd,1,0,0,2054958,1583885,471073,0,...,0,0,0,0,0,0,0,0,0,0
5515028023,1,0,143 N Plymouth Blvd,0,0,0,915420,592174,323246,0,...,0,0,0,0,0,0,0,0,0,0
5513010003,1,0,164 N Las Palmas Ave,0,0,0,2518796,1609956,908840,0,...,0,0,0,0,0,0,0,0,0,0
5515012030,1,0,108 S Rossmore Ave,1,0,0,1428176,999727,428449,0,...,0,0,0,0,0,0,0,0,0,0
5516002020,1,0,223 S Irving Blvd,0,0,0,1167489,689700,477789,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5554012045,0,0,7915 3/8 Norton Ave,1,0,1,559000,300000,259000,0,...,0,0,0,0,0,0,0,0,0,0
5554012046,0,0,7915 1/2 Norton Ave,0,0,1,561100,447800,113300,0,...,0,0,0,0,0,0,0,0,0,0
5554012048,1,0,7917 1/2 Norton Ave,0,0,0,141299,64965,76334,0,...,0,0,0,0,0,0,0,0,0,0
5554012038,0,0,7911 1/8 Norton Ave,0,0,1,272185,158899,113286,0,...,0,1,0,0,0,0,0,0,0,0
5554012051,0,0,7921 Norton Ave,0,0,1,629700,522500,107200,0,...,0,0,0,0,0,0,0,0,0,0

In [625]:
Total_NonSellers_df.columns

Index(['Owned by Trust?', 'Owned by Business?', 'SITEADDRESS',
       'MAIL DIFFERENT FROM SITE?', 'MAIL OUTSIDE CA?', 'TITLECO1',
       'ASSDTOTAL', 'ASSDLAND', 'ASSDSTCT', 'ASSDOTHR', 'EXEMPTCD', 'EXMPTAMT',
       'PCNTIMPD', 'TAXAMT', 'DOCDATE_YEAR', 'MULTIPARCEL', 'PRICE', 'LENDER1',
       'LOANAMOUT1', 'LOANTYPE1', 'YEARBLT', 'EFFYRBLT', 'LOTSQFT', 'TOTALSF',
       'GRGTYPE', 'BLDGMAT', 'TOTUNITS', 'QUALCLAS', 'BLDGCOND', 'NOSTORY',
       'ROOFMAT', 'FOUNDATN', 'BEDROOMS', 'BATHROOMS', 'FAMILYRM', 'DININGRM',
       'POOL', 'PATIO', 'FIREPLCE', 'AIRMTHOD', 'HEATMTHD', 'VIEW',
       'Did it sell?', 'EXECUTION DEED', 'EXECUTORS', 'FINAL DIST', 'GIFT',
       'GRANT DEED', 'IN LIEU OF FORC', 'INTERSPOUSAL', 'JOINT TENANT',
       'MEMO AGREE SALE', 'MISC', 'NAME CHANGE', 'ORD OF CONDEMN', 'Other',
       'PARTNERSHIP', 'PERSONAL REP', 'QUIT CLAIM', 'RE-RECORD',
       'RECEIVERS DEED', 'SHERIFFS', 'SPECIAL WARRANTY', 'TAX DEED',
       'TRUST TRANSFER', 'TRUSTEES', 'WARRANTY'],
      dtype='object')

In [626]:
# Calculate the the discrepencies
# Mail different from Site

sum(Total_Sellers_df['MAIL DIFFERENT FROM SITE?'] == 1) / len(Total_Sellers_df['MAIL DIFFERENT FROM SITE?']) * 100

33.621683967704726

In [627]:
sum(Total_NonSellers_df['MAIL DIFFERENT FROM SITE?'] == 1) / len(Total_NonSellers_df['MAIL DIFFERENT FROM SITE?']) * 100

25.510465612985904

In [628]:
# Mail outside California

sum(Total_Sellers_df['MAIL OUTSIDE CA?'] == 1) / len(Total_Sellers_df['MAIL OUTSIDE CA?']) * 100

7.410611303344868

In [629]:
sum(Total_NonSellers_df['MAIL OUTSIDE CA?'] == 1) / len(Total_NonSellers_df['MAIL OUTSIDE CA?']) * 100

5.126014523707817

In [630]:
# Property Size: 'TOTALSF'

Total_Sellers_df['TOTALSF'].mean()

2322.03892733564

In [631]:
Total_NonSellers_df['TOTALSF'].mean()

2339.1618111917983

In [632]:
# Total Assessed Value: 'ASSDTOTAL'

Total_Sellers_df['ASSDTOTAL'].mean()

1187297.7808535178

In [633]:
Total_NonSellers_df['ASSDTOTAL'].mean()

958664.4905168731

In [634]:
# Avg Year Built

Total_Sellers_df['YEARBLT'].mean()

1939.9100346020762

In [636]:
Total_NonSellers_df['YEARBLT'].mean()

1935.2164459632636

In [640]:
# Avg Last Market Sale Price: 'PRICE'

#Total_Sellers_df['PRICE'].value_counts()
Total_Sellers_df['PRICE'][Total_Sellers_df['PRICE'] != 0].mean()

1486963.4283707866

In [639]:
Total_NonSellers_df['PRICE'][Total_NonSellers_df['PRICE'] != 0].mean()

1116781.9708093118

In [540]:
# Avg Year of Purchase: 'DOCDATE_YEAR'

Total_Sellers_df['DOCDATE_YEAR'][Total_Sellers_df['DOCDATE_YEAR'] != 0].mean()

2007.7787147426577

In [541]:
Total_NonSellers_df['DOCDATE_YEAR'][Total_NonSellers_df['DOCDATE_YEAR'] != 0].mean()

2004.8688870696712

In [545]:
# Avg Tax Amount: 'TAXAMT'

Total_Sellers_df['TAXAMT'][Total_Sellers_df['TAXAMT'] != 0].mean()

14639.10454956312

In [546]:
Total_NonSellers_df['TAXAMT'][Total_NonSellers_df['TAXAMT'] != 0].mean()

11709.208092485549

In [547]:
# Avg Loan Amount: 'LOANAMOUT1'

Total_Sellers_df['LOANAMOUT1'][Total_Sellers_df['LOANAMOUT1'] != 0].mean()

958863.670154185

In [548]:
# Avg Loan Amount: 'LOANAMOUT1'

Total_NonSellers_df['LOANAMOUT1'][Total_NonSellers_df['LOANAMOUT1'] != 0].mean()

738747.3429923613

# Find the discrepencies but for condos

In [641]:
file = 'Total_Cleaned.csv'

location = '/Users/Admin/Desktop/GW_Bootcamp/Analysis_Projects/Final_Project_Team_1/'

In [642]:
path = os.path.join(location, file)

In [643]:
# import our file

Total_df = pd.read_csv(path, index_col='PARCEL')
Total_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505026001,1,0,354 N Plymouth Blvd,1,0,0,2054958,1583885,471073,0,...,0,0,0,0,0,0,0,0,0,0
5515028023,1,0,143 N Plymouth Blvd,0,0,0,915420,592174,323246,0,...,0,0,0,0,0,0,0,0,0,0
5515022015,1,0,253 S Plymouth Blvd,0,0,0,1304706,731909,572797,0,...,0,0,0,0,0,0,0,0,0,0
5513010003,1,0,164 N Las Palmas Ave,0,0,0,2518796,1609956,908840,0,...,0,0,0,0,0,0,0,0,0,0
5515012030,1,0,108 S Rossmore Ave,1,0,0,1428176,999727,428449,0,...,0,0,0,0,0,0,0,0,0,0

In [644]:
Total_df['TAXAMT'] = Total_df['TAXAMT'].astype(int)
Total_df['EFFYRBLT'] = Total_df['EFFYRBLT'].astype(int)

In [645]:
# Make sure our dataframe is only condos

Total_df = Total_df[Total_df['SITEADDRESS'].str.contains('#')]
Total_df.head(3)

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505008010,1,0,546 S Rimpau Blvd #2200,0,0,0,3491436,2450134,1041302,0,...,0,0,0,0,0,0,0,0,0,0
5515029015,1,0,169 S Plymouth Blvd #100,0,0,0,3122716,2402093,720623,0,...,0,0,0,0,0,0,0,0,0,0
5522008053,0,0,5114 Melrose Ave #8,0,0,0,790127,548843,241284,0,...,0,0,0,0,0,0,0,0,0,0

In [647]:
# Separate out our sellers from non-sellers

In [651]:
Total_Sellers_df = Total_df[Total_df['Did it sell?'] == 1]
Total_Sellers_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5522008053,0,0,5114 Melrose Ave #8,0,0,0,790127,548843,241284,0,...,0,0,0,0,0,0,0,0,0,0
5522008048,0,0,5124 Melrose Ave #3,0,0,0,767344,533310,234034,0,...,0,0,0,0,0,0,0,0,0,0
5524005031,0,0,815 N Las Palmas Ave #101,1,0,0,189433,47704,141729,0,...,0,0,0,0,0,0,1,0,0,0
4333013063,0,0,811 S Bedford St #204,0,0,1,609150,507625,101525,0,...,0,0,0,0,0,0,0,0,0,0
4335003037,0,0,146 N Almont Dr #8,0,0,1,622711,407947,214764,0,...,0,0,0,0,0,0,0,0,0,0

In [652]:
Total_NonSellers_df = Total_df[Total_df['Did it sell?'] == 0]
Total_NonSellers_df.head()

,Owned by Trust?,Owned by Business?,SITEADDRESS,MAIL DIFFERENT FROM SITE?,MAIL OUTSIDE CA?,TITLECO1,ASSDTOTAL,ASSDLAND,ASSDSTCT,ASSDOTHR,...,PERSONAL REP,QUIT CLAIM,RE-RECORD,RECEIVERS DEED,SHERIFFS,SPECIAL WARRANTY,TAX DEED,TRUST TRANSFER,TRUSTEES,WARRANTY
PARCEL,,,,,,,,,,,,,,,,,,,,,
5505008010,1,0,546 S Rimpau Blvd #2200,0,0,0,3491436,2450134,1041302,0,...,0,0,0,0,0,0,0,0,0,0
5515029015,1,0,169 S Plymouth Blvd #100,0,0,0,3122716,2402093,720623,0,...,0,0,0,0,0,0,0,0,0,0
5516014005,1,0,122 N Ridgewood Pl #515,0,0,0,83813,43702,40111,0,...,0,0,0,0,0,0,0,0,0,0
5087012023,0,0,1040 S La Jolla Ave #VE,0,0,0,289000,116000,173000,0,...,0,0,0,0,0,0,0,1,0,0
4332020041,0,0,1045 S Bedford St #9,1,0,0,151323,41266,110057,0,...,0,0,0,0,0,0,0,0,0,0

In [653]:
# Mail different from Site

sum(Total_Sellers_df['MAIL DIFFERENT FROM SITE?'] == 1) / len(Total_Sellers_df['MAIL DIFFERENT FROM SITE?']) * 100

35.89905362776025

In [654]:
sum(Total_NonSellers_df['MAIL DIFFERENT FROM SITE?'] == 1) / len(Total_NonSellers_df['MAIL DIFFERENT FROM SITE?']) * 100

36.50442477876106

In [655]:
# Mail outside California

sum(Total_Sellers_df['MAIL OUTSIDE CA?'] == 1) / len(Total_Sellers_df['MAIL OUTSIDE CA?']) * 100

7.697160883280757

In [656]:
sum(Total_NonSellers_df['MAIL OUTSIDE CA?'] == 1) / len(Total_NonSellers_df['MAIL OUTSIDE CA?']) * 100

5.825958702064897

In [657]:
# Property Size: 'TOTALSF'

Total_Sellers_df['TOTALSF'].mean()

1192.745741324921

In [658]:
Total_NonSellers_df['TOTALSF'].mean()

1194.5510078662733

In [659]:
# Total Assessed Value: 'ASSDTOTAL'

Total_Sellers_df['ASSDTOTAL'].mean()

517701.20126182964

In [660]:
Total_NonSellers_df['ASSDTOTAL'].mean()

471457.59513274336

In [661]:
# Avg Year Built

Total_Sellers_df['YEARBLT'].mean()

1976.810094637224

In [662]:
Total_NonSellers_df['YEARBLT'].mean()

1976.6977630285153

In [663]:
# Avg Last Market Sale Price: 'PRICE'

Total_Sellers_df['PRICE'][Total_Sellers_df['PRICE'] != 0].mean()

554917.911111111

In [664]:
Total_NonSellers_df['PRICE'][Total_NonSellers_df['PRICE'] != 0].mean()

519334.28501276765

In [665]:
# Avg Year of Purchase: 'DOCDATE_YEAR'

Total_Sellers_df['DOCDATE_YEAR'][Total_Sellers_df['DOCDATE_YEAR'] != 0].mean()

2009.5556274256146

In [666]:
Total_NonSellers_df['DOCDATE_YEAR'][Total_NonSellers_df['DOCDATE_YEAR'] != 0].mean()

2007.555091714105

In [667]:
# Avg Tax Amount: 'TAXAMT'

Total_Sellers_df['TAXAMT'][Total_Sellers_df['TAXAMT'] != 0].mean()

6328.773501577287

In [668]:
Total_NonSellers_df['TAXAMT'][Total_NonSellers_df['TAXAMT'] != 0].mean()

5775.6060717797445

In [669]:
# Avg Loan Amount: 'LOANAMOUT1'

Total_Sellers_df['LOANAMOUT1'][Total_Sellers_df['LOANAMOUT1'] != 0].mean()

398692.2626931567

In [670]:
# Avg Loan Amount: 'LOANAMOUT1'

Total_NonSellers_df['LOANAMOUT1'][Total_NonSellers_df['LOANAMOUT1'] != 0].mean()

362006.334681256